{"swagger":"2.0","securityDefinitions":{"authorization":{"type":"apiKey","name":"Authorization","in":"header"}},"security":[{"authorization":[]}],"info":{"version":"1.0.0","title":"MyTime Public Booking API","description":"          Load company data\n          -----\n          \n          1. We use the Company API to get some details about the company\n              * e.g.name, if it supports child booking, etc.\n          \n          2. We use the Locations API to get all the locations for a company\n          \n          3. We use the Deals API to get all the deals and all of the variations\n              * e.g. A Deal can be \"Pet Grooming\" and a Variation is \"Pet Grooming for Small Dogs\"\n          \n          4. We use the Employees API to get all employees working at a location\n          \n          5. We use the Pricings API to get the pricings. The pricing is the bundle between a variation, an employee and a location.\n          \n              * e.g. Employee X charges 10$ to perform Variation Z at Location Y\n              * e.g. Employee X charges 12$ to perform Variation W at Location Z\n          \n          Notes\n          =====\n          * If an employee doesn't have a Pricing for a Variation then he doesn't perform it.\n          * If an employee doesn't have Pricings at a Location then he doesn't work there.\n          \n          ----\n          \n          Booking Flow - i.e. Creating a Purchase\n          ----\n          \n          1. We use the OpenDate and OpenTime APIs to get the available days/hours for a combo - employee \u0026 variation(s) \u0026 pet\n          2. When the end user selects an available time we do two things:\n              * We create a cart using the Cart API\n              * We add a cart item (includes the available time \u0026 variations \u0026 employee) using the CartItem API\n          2. Optional: We can use the Client API, CustomerAddresses API, CreditCards API to manage or gather more user (i.e. client) data\n          4. We use the Purchase API to complete the booking.\n          \n          Notes:\n          =====\n          * At b1) the end user shouldn't necessarily be logged in. In case he isn't we will update the user_id for a cart after login\n          \n          ----\n          \n          Removing from Cart\n          ----\n          \n          Notes:\n          =====\n          * Once steps 2b) are completed there is no way to update the cart or cart item. If the end user changes his mind and wants\n            to update the variations or he wants to change the time, we will drop the cart and just create a new one with new cart items (i.e. step 2b)\n          \n          * Once steps 2d) are completed the booking was already made so droping the cart is no longer an options. For cancelling an appointment\n            we will use the Appointments API. Canceling an appointment will make the time slot available again.\n          \n          ----\n          \n          Sessions and Users\n          ----\n          \n          1. We use the Sessions API to create a new session for an existing user. The token received should be sent on all further API calls unless the user logs out.\n          2. We use the Users API for creating a new user (i.e. registration)\n          \n          ----\n          \n          OpenTimes / OpenDates\n          ----\n          \n          1. If we want the custom variations to be applied correctly for a client or a child we need to send the 'Authorization' header for the user.\n          ----\n"},"host":"www.mytime.com","basePath":"/api/mkp/v1/","consumes":["application/json"],"produces":["application/json"],"paths":{"/appointment_groups":{"post":{"summary":"Create an appointment group","description":"Create an appointment group","produces":["application/json"],"tags":["Appointment Group"],"parameters":[{"name":"company_id","in":"body","description":"Company Id","required":true,"type":"integer"}],"responses":{"201":{"description":"User created or retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"appointment_group":{"type":"object"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/appointments":{"get":{"summary":"Get all appointments from a company","description":"","produces":["application/json"],"tags":["Appointment"],"parameters":[{"name":"company_id","in":"query","description":"The company_id for which we retrieve the appointments. If not passed we will return all appointments for the user","required":false,"type":"string"},{"name":"location_id","in":"query","description":"The location_id for which we retrieve the appointments.","required":false,"type":"string"},{"name":"ids","in":"query","description":"Appointment ids separated by comma. If this param is passed the pagination params will be ignored","required":false,"type":"string"},{"name":"normalized","in":"query","description":"The normalized form will return the normalized details without FK references. Default: false","required":false,"type":"string"},{"name":"not_paid","in":"query","description":"Filter only appointments which have no ticket or have a ticket with no card/cash/other payments. Not compatible with param ids. Default: false","required":false,"type":"string"}],"responses":{"200":{"description":"Appointment response","schema":{"type":"object","$ref":"#/definitions/Appointment","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"post":{"summary":"Create a new entry (appointment) for the waitlist","description":"","produces":["application/json"],"tags":["Appointment"],"parameters":[{"name":"appointment","in":"body","description":"The appointment","required":true,"schema":{"$ref":"#/definitions/AppointmentPostBody"}}],"responses":{"201":{"description":"Appointment response","schema":{"type":"object","$ref":"#/definitions/WaitingAppointment","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/appointments/{id}/cancel":{"put":{"summary":"Cancel one of your appointments","description":"","produces":["application/json"],"tags":["Appointment"],"parameters":[{"name":"id","in":"path","description":"The appointment id which we want to cancel","required":true,"type":"string"}],"responses":{"204":{"description":"Appointment response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/appointments/{id}":{"get":{"summary":"Get an appointment","description":"Get an appointment","produces":["application/json"],"tags":["Appointment"],"responses":{"200":{"description":"Appointment Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/Appointment"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/appointments/{id}/check_in":{"put":{"summary":"Check in one of your appointments","description":"","produces":["application/json"],"tags":["Appointment"],"parameters":[{"name":"id","in":"path","description":"The appointment id which we want to check in","required":true,"type":"string"}],"responses":{"202":{"description":"Appointment response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bookable_times":{"get":{"summary":"Get all bookable times","description":"Returns potential bookable times for client waitlisting","produces":["application/json"],"tags":["BookableTime"],"parameters":[{"name":"location_id","in":"query","description":"Location id to filter bookable times","required":true,"type":"integer"},{"name":"employee_ids","in":"query","description":"For multi-staff appointments: comma-delimited list of employee ids to filter bookable times by,\n                corresponding to the list of variation_ids","required":false,"type":"string"},{"name":"deal_id","in":"query","description":"Deal id to filter bookable times","required":true,"type":"string"},{"name":"date","in":"query","description":"The date to filter bookable times for","required":true,"type":"string"}],"responses":{"200":{"description":"BookableTime response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"bookable_times":{"type":"array","items":{"$ref":"#/definitions/BookableTime"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases":{"post":{"summary":"Create a bundle purchase","description":"Create a bundle purchase","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"bundle_id","in":"query","required":true,"type":"integer"},{"name":"location_id","in":"query","required":true,"type":"integer"},{"name":"child_id","in":"query","required":true,"type":"integer"}],"responses":{"201":{"description":"bundle purchase Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/BundlePurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/{id}":{"get":{"summary":"Get a bundle purchase","description":"Get a bundle purchase","produces":["application/json"],"tags":["BundlePurchase"],"responses":{"200":{"description":"BundlePurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/BundlePurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/{id}/complete":{"post":{"summary":"Complete a bundle purchase","description":"Complete a bundle purchase","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"id","in":"path","description":"BundlePurchase's ID","required":true,"type":"integer"},{"name":"card_id","in":"query","description":"The card we use for payment","required":false,"type":"string"},{"name":"promotion_code","in":"query","description":"The coupon code used to get a discount","required":false,"type":"string"}],"responses":{"200":{"description":"BundlePurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/BundlePurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/complete_purchases":{"post":{"summary":"Completes multiple bundle purchases","description":"Completes multiple bundle purchases","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"card_id","in":"query","description":"The card we use for payment","required":false,"type":"string"},{"name":"bundle_purchase_ids","in":"body","description":"The list of bundle purchases","required":true,"schema":{"type":"object","properties":{"bundle_purchase_ids":{"type":"array","items":{"type":"integer"}}}}},{"name":"promotion_code","in":"query","description":"The coupon code used to get a discount","required":false,"type":"string"}],"responses":{"200":{"description":"BundlePurchases Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchases":{"$ref":"#/definitions/BundlePurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/{id}/apply_promotion":{"get":{"summary":"Test if a promotion or coupon can be applied for a package purchase","description":"Test if a promotion or coupon can be applied for a package purchase","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion/coupon code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Promotion response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/{id}/apply_bogo":{"get":{"summary":"Test if a promotion can be applied for a package purchase","description":"Test if a promotion can be applied for a package purchase","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Bogo response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/{id}/apply_coupon":{"get":{"summary":"Test if a coupon can be applied for a package purchase","description":"Test if a coupon can be applied for a package purchase","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The coupon code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Coupon response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/apply_promotion_for_purchases":{"post":{"summary":"Test if a promotion or coupon can be applied for multiple package purchases","description":"Test if a promotion or coupon can be applied for multiple package purchases","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion/coupon code","required":true,"type":"string"},{"name":"bundle_purchase_ids","in":"body","description":"The list of bundle purchases","required":true,"schema":{"type":"object","properties":{"bundle_purchase_ids":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"200":{"description":"Apply Promotion response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/apply_bogo_for_purchases":{"post":{"summary":"Test if a promotion can be applied for multiple package purchases","description":"Test if a promotion can be applied for multiple package purchases","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion code","required":true,"type":"string"},{"name":"bundle_purchase_ids","in":"body","description":"The list of bundle purchases","required":true,"schema":{"type":"object","properties":{"bundle_purchase_ids":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"200":{"description":"Apply Bogo response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/bundle_purchases/apply_coupon_for_purchases":{"post":{"summary":"Test if a coupon can be applied for multiple package purchases","description":"Test if a coupon can be applied for multiple package purchases","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The coupon code","required":true,"type":"string"},{"name":"bundle_purchase_ids","in":"body","description":"The list of bundle purchases","required":true,"schema":{"type":"object","properties":{"bundle_purchase_ids":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"200":{"description":"Apply Coupon response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/bundles":{"get":{"summary":"Get all bundles","description":"Returns all bundles for a specific company","produces":["application/json"],"tags":["Bundle"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the bundles","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Location for which we want the bundles","required":true,"type":"string"},{"name":"only_clients","in":"query","description":"Get only bundles which can be sold to clients","required":false,"type":"boolean"}],"responses":{"200":{"description":"Bundles response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"bundles":{"type":"array","items":{"$ref":"#/definitions/Bundle"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/cart_groups":{"post":{"summary":"Create a cart group","description":"Creates a group of carts for multi-cart operations","produces":["application/json"],"tags":["CartGroup"],"parameters":[{"name":"cart_group","in":"body","description":"Cart group creation parameters","required":true,"schema":{"type":"object","properties":{"cart_ids":{"type":"array","items":{"type":"integer"},"description":"Array of cart IDs to group"},"location_id":{"type":"integer","description":"Location ID for the cart group"}}}}],"responses":{"201":{"description":"Cart Group Created","schema":{"type":"object","properties":{"cart_group_id":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the created cart group"}}},"errors":{"type":"array","items":{"type":"string"}}}}},"422":{"description":"Invalid parameters or business logic error","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/carts/{cart_id}/cart_items":{"post":{"summary":"Create a cart item","description":"Create a cart item","produces":["application/json"],"tags":["CartItem"],"parameters":[{"name":"cart_id","in":"path","description":"The cart for which we add a cart item","required":true,"type":"integer"},{"name":"cart_item","in":"body","description":"The Cart Item","required":true,"schema":{"$ref":"#/definitions/CartItemPostBody"}},{"name":"cart_items","in":"body","description":"Other Cart Items created for multi-family members/ pets booking","required":false,"schema":{"type":"array","items":{"type":"object","properties":{"begin_at":{"type":"string","description":"The datetime when the appointment will start, in ISO8601 format"},"employee_ids":{"type":"string","description":"Comma-delimited list of employee ids"},"variation_ids":{"type":"string","description":"Comma-delimited list of variation ids"},"resource_ids":{"type":"string","description":"Comma-delimited list of resource ids"}}}}}],"responses":{"201":{"description":"Cart Item Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"cart_item":{"$ref":"#/definitions/CartItem"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts":{"post":{"summary":"Create a cart","description":"Create a cart without items","produces":["application/json"],"tags":["Cart"],"responses":{"201":{"description":"Cart Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"cart":{"$ref":"#/definitions/Cart"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}":{"put":{"summary":"Update a cart","description":"Assign a cart to a user","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart which we want to update","required":true,"type":"integer"}],"responses":{"202":{"description":"Cart Updated","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"cart":{"$ref":"#/definitions/Cart"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"get":{"summary":"Get cart details","description":"Get cart details","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart which we want to update","required":true,"type":"integer"}],"responses":{"200":{"description":"Cart Details","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"cart":{"$ref":"#/definitions/Cart"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_referral_credit":{"post":{"summary":"Apply referral credit to a certain cart","description":"Apply referral credit to a certain cart","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart for which we want to apply the referral credit","required":true,"type":"integer"},{"name":"value","in":"body","description":"The amount of referral credit to be applied","required":true,"type":"number"},{"name":"company_id","in":"body","description":"The cart's company","required":true,"type":"integer"},{"name":"client_referral_id","in":"body","description":"The id of the client referral","required":false,"type":"integer"}],"responses":{"201":{"description":"Referral Credit Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"400":{"description":"Bad Params","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_referral_credit_for_carts":{"post":{"summary":"Apply referral credit to multiple carts","description":"Apply referral credit to multiple carts","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"cart_ids","in":"path","description":"The carts for which we want to apply the referral credit","required":true,"type":"array","items":{"type":"integer"}},{"name":"value","in":"body","description":"The amount of referral credit to be applied","required":true,"type":"number"},{"name":"client_referral_id","in":"body","description":"The id of the client referral","required":true,"type":"integer"}],"responses":{"201":{"description":"Referral Credit Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"400":{"description":"Bad Params","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_coupon":{"post":{"summary":"DEPRECATED - Apply a coupon to a certain cart. Use API apply_promotion instead","description":"DEPRECATED - Apply a coupon to a certain cart. Use API apply_promotion instead","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart for which we want to apply the coupon","required":true,"type":"integer"},{"name":"coupon_code","in":"body","description":"Apply a coupon to a certain cart","required":true,"schema":{"$ref":"#/definitions/ApplyCouponPostBody"}}],"responses":{"201":{"description":"Coupon Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"400":{"description":"Bad Coupon Code","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_loyalty_points":{"post":{"summary":"Apply a point redemption to a certain cart","description":"Apply a point redemption to a certain cart","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart for which we want to apply the promotion","required":true,"type":"integer"}],"responses":{"201":{"description":"Redemption Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"400":{"description":"Points balance for client is not enough","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_loyalty_points_for_carts":{"post":{"summary":"Apply a point redemption to multiple carts","description":"Apply a point redemption to multiple carts","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"cart_ids","in":"path","description":"The carts for which we want to apply the points","required":true,"type":"array","items":{"type":"integer"}}],"responses":{"201":{"description":"Redemption Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"400":{"description":"Points balance for client is not enough","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/remove_loyalty_points_for_carts":{"post":{"summary":"Remove loyalty points from multiple carts","description":"Remove loyalty points from multiple carts","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"cart_ids","in":"path","description":"The carts for which we want to remove the points","required":true,"type":"array","items":{"type":"integer"}}],"responses":{"201":{"description":"Points removed","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/apply_promotion":{"post":{"summary":"Apply a promotion to a certain cart","description":"Apply a promotion to a certain cart","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart for which we want to apply the promotion","required":true,"type":"integer"},{"name":"promotion_code","in":"body","description":"Apply a promotion to a certain cart","required":true,"schema":{"$ref":"#/definitions/ApplyPromotionPostBody"}}],"responses":{"201":{"description":"Promotion Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"400":{"description":"Bad Promotion Code","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/apply_promotion_for_carts":{"post":{"summary":"Apply a promotion to multiple carts","description":"Apply a promotion to multiple carts","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"body","in":"body","description":"Request body containing cart IDs and promotion code","required":true,"schema":{"$ref":"#/definitions/ApplyPromotionForCartsPostBody"}}],"responses":{"201":{"description":"Promotion Applied","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"400":{"description":"Bad Promotion Code","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/carts/{id}/remove_promotion":{"delete":{"summary":"Removes promotion in a given cart","description":"Removes promotion in a given cart","produces":["application/json"],"tags":["Cart"],"parameters":[{"name":"id","in":"path","description":"The cart for which we want to remove promotion","required":true,"type":"integer"}],"responses":{"200":{"description":"Promotions cleared","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"No promotions to remove","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments":{"post":{"summary":"Create a new session enrollment","description":"\n          The Swagger Interactive UI might not work properly for this API. Here is how a CURL request would look like:\n          curl \"https://www.mytime.com/api/mkp/v1/classes/enrollments\" -H \"Accept: application/json\" -H \"Authorization: MzCvwzyynHeQxmka5CzL\" -H \"User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36\" -H \"Content-Type: application/json\" -H \"Sec-Fetch-Site: same-origin\" -H \"Accept-Encoding: gzip, deflate, br\" -H \"Accept-Language: en-US,en;q=0.9\" --data-binary \"{\"company_id\":1,\"session_id\": 2, parent_session_enrollment_id: 1, \"category_id\":1,\"attendees\":[{\"children\":[],\"for_client_count\":1,\"session_attendee_id\":2}],\"referrer\":\"express_checkout\",\"no_pay\":true,\"card_id\":\"\"}\" --compressed","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"company_id","in":"query","description":"The company_id for the session enrollment","required":true,"type":"string"},{"name":"enrollment","description":"Session Enrollment creation parameters","in":"body","schema":{"$ref":"#/definitions/SessionEnrollmentParams"}}],"responses":{"201":{"description":"SessionEnrollment response","schema":{"type":"object","properties":{"confirmation":{"$ref":"#/definitions/Confirmation"},"enrollments":{"type":"array","description":"The session enrollments created","items":{"$ref":"#/definitions/SessionEnrollment"}},"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"get":{"summary":"Get an session enrollment","description":"Get an session enrollment","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"normalized","in":"query","description":"The normalized form will return the normalized details without FK references. Default: false","required":false,"type":"string"},{"name":"ids","in":"query","description":"Enrollment ids separated by comma. If this param is passed the pagination params will be ignored","required":false,"type":"string"},{"name":"include_ticket","in":"query","description":"Include the ticket details. Default: false","required":false,"type":"string"}],"responses":{"200":{"description":"SessionEnrollment Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"session_enrollments":{"$ref":"#/definitions/SessionEnrollment"},"total_count":{"type":"integer","description":"Number of session enrollments"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/{id}/cancel":{"post":{"summary":"Cancel one of your enrollments","description":"","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"id","in":"query","description":"The enrollment id which we want to cancel","required":true,"type":"string"},{"name":"cancel_related_enrollments","in":"body","description":" If set to true or nil, cancel all related child enrollments","required":false,"schema":{"properties":{"cancel_related_enrollments":{"type":"boolean","description":" If set to true or nil, cancel all related child enrollments"}}}}],"responses":{"204":{"description":"SessionEnrollment response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/{id}/check_in":{"post":{"summary":"Check in to an enrollment","description":"Check in to an enrollment for a class session","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"id","in":"path","description":"The enrollment id to check in","required":true,"type":"string"}],"responses":{"200":{"description":"Check-in successful","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"session_enrollment":{"$ref":"#/definitions/SessionEnrollment"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/{id}/virtual_event_redirect":{"get":{"summary":"Redirects to the virtual event URL, if enrollment is not canceled and the session has started.","description":"","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"id","in":"query","description":"The enrollment id which we want to cancel","required":true,"type":"string"}],"responses":{"302":{"description":"Redirect to virtual event url"},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/bulk_cancel":{"post":{"summary":"Cancel multiple session enrollments which are on the same ticket","description":"","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"session_enrollment_ids","in":"body","description":"The session enrollment ids which we want to cancel","required":true,"schema":{"properties":{"session_enrollment_ids":{"type":"string","required":true,"description":"The session enrollment ids which we want to cancel"}}}}],"responses":{"204":{"description":"SessionEnrollment response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/apply_coupon":{"get":{"summary":"DEPRECATED - Test if a coupon can be applied for a session enrollment","description":"DEPRECATED - Use API apply_promotion instead","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"quantity","in":"query","description":"The quantity we want to book","required":true,"type":"string"},{"name":"price","in":"query","description":"The price for an enrollment","required":true,"type":"string"},{"name":"session_attendee_id","in":"query","description":"The session attendee id","required":true,"type":"string"},{"name":"session_id","in":"query","description":"The session for which we want to enroll","required":true,"type":"string"},{"name":"company_id","in":"query","description":"The company id","required":true,"type":"string"},{"name":"coupon_code","in":"query","description":"The coupon code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Coupon response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/apply_loyalty_points":{"get":{"summary":"Test if a loyalty points redemption can be applied for a session enrollment","description":"Tests if a loyalty points redemption can be applied, returns :ok if it's possible","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"company_id","in":"query","required":true,"type":"string"},{"name":"points","in":"query","description":"Points amount to redeem","required":true,"type":"integer"},{"name":"amount","in":"query","description":"Dollar amount to redeem","required":true,"type":"numeric"}],"responses":{"200":{"description":"Apply redemption response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"potential_redemption":{"$ref":"#/definitions/PotentialRedemption"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/apply_promotion":{"get":{"summary":"Test if a promotion or coupon can be applied for a session enrollment","description":"","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"quantity","in":"query","description":"The quantity we want to book","required":true,"type":"string"},{"name":"price","in":"query","description":"The price for an enrollment","required":true,"type":"string"},{"name":"session_attendee_id","in":"query","description":"The session attendee id","required":true,"type":"string"},{"name":"session_id","in":"query","description":"The session for which we want to enroll","required":true,"type":"string"},{"name":"company_id","in":"query","description":"The company id","required":true,"type":"string"},{"name":"promotion_code","in":"query","description":"The promotion code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Promotion response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/enrollments/apply_bogo":{"get":{"summary":"Test if a promotion can be applied for a session enrollment","description":"","produces":["application/json"],"tags":["SessionEnrollment"],"parameters":[{"name":"quantity","in":"query","description":"The quantity we want to book","required":true,"type":"string"},{"name":"price","in":"query","description":"The price for an enrollment","required":true,"type":"string"},{"name":"session_attendee_id","in":"query","description":"The session attendee id","required":true,"type":"string"},{"name":"session_id","in":"query","description":"The session for which we want to enroll","required":true,"type":"string"},{"name":"company_id","in":"query","description":"The company id","required":true,"type":"string"},{"name":"promotion_code","in":"query","description":"The promotion code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Bogo response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/sessions/{id}":{"get":{"summary":"Get class session details","description":"Get class session details","produces":["application/json"],"tags":["ClassSession"],"parameters":[{"name":"id","in":"path","description":"The class session for which we want to get details","required":true,"type":"integer"}],"responses":{"200":{"description":"Class Session Details","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"session":{"$ref":"#/definitions/ClassSession"}}}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/classes/sessions":{"get":{"summary":"Get all class sessions","description":"Returns all class sessions for a specific company","produces":["application/json"],"tags":["ClassSession"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the class sessions","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Location for which we want the class sessions","required":true,"type":"string"},{"name":"start_date","in":"query","description":"Return classes after start_date. E.g: 2019-12-16","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Return classes before end_date. E.g: 2019-12-22","required":true,"type":"string"},{"name":"category","in":"query","description":"Include class session category details","required":false,"type":"string"}],"responses":{"200":{"description":"class sessions response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"sessions":{"type":"array","items":{"$ref":"#/definitions/ClassSession"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/client":{"put":{"summary":"Update or create the client for logged in user","description":"Returns the newly created user","produces":["application/json"],"tags":["Client"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll update the client","required":true,"type":"string"},{"name":"client","in":"body","description":"Client Find/Create/Update Parameters","required":true,"schema":{"type":"object","properties":{"client":{"$ref":"#/definitions/ClientParams"}}}}],"responses":{"202":{"description":"Client response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"client":{"$ref":"#/definitions/Client"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/client/address":{"post":{"summary":"Create a client_address","description":"Create a client_address","produces":["application/json"],"tags":["ClientAddress"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll find client and create address","required":true,"type":"string"},{"name":"address","in":"body","description":"Address Details","required":true,"schema":{"$ref":"#/definitions/ClientAddressBody"}}],"responses":{"201":{"description":"Address Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"address":{"$ref":"#/definitions/Address"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"put":{"summary":"Update a client_address","description":"Update a client_address","produces":["application/json"],"tags":["ClientAddress"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll find client and update address","required":true,"type":"string"},{"name":"address_id","in":"query","description":"Id","required":true,"type":"string"},{"name":"address","in":"body","description":"Address Details","required":true,"schema":{"$ref":"#/definitions/ClientAddressBody"}}],"responses":{"200":{"description":"Address Updated","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"customer_address":{"$ref":"#/definitions/Address"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"delete":{"summary":"Delete a client address","description":"Delete a client address","produces":["application/json"],"tags":["ClientAddress"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll find client and delete address","required":true,"type":"string"},{"name":"address_id","in":"query","description":"Id","required":true,"type":"string"}],"responses":{"204":{"description":"Address Deleted","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"customer_address":{"$ref":"#/definitions/Address"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/client/remove_user":{"put":{"summary":"Remove user for client for logged in user","description":"Returns the client","produces":["application/json"],"tags":["Client"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll update the client","required":true,"type":"string"},{"name":"password","in":"body","description":"password to verify action","required":true,"type":"string"}],"responses":{"202":{"description":"Client response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"client":{"$ref":"#/definitions/Client"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/client/enabled_features":{"put":{"summary":"Returns the features the client has access to","description":"Returns the features the client has access to","produces":["application/json"],"tags":["Client"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll update the client","required":true,"type":"string"}],"responses":{"202":{"description":"Client response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"enabled_features":{}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/clients":{"post":{"summary":"Find or create client on company","description":"Returns client","produces":["application/json"],"tags":["Client"],"parameters":[{"name":"company_id","in":"query","description":"The company for which we'll update the client","required":true,"type":"integer"},{"name":"client_type","in":"query","description":"The type of client we want to find or create","required":false,"type":"string"},{"name":"exclude_client_id","in":"query","description":"The client id we do not want to match (comma separated values in case multiple ids are passed)","required":false,"type":"string"},{"name":"client","in":"body","description":"Client Find/Create/Update Parameters","required":true,"schema":{"type":"object","properties":{"client":{"$ref":"#/definitions/ClientParams"}}}}],"responses":{"202":{"description":"Client response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"client":{"$ref":"#/definitions/Client"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/enabled_features":{"get":{"summary":"Show enabled features for specific company","description":"Enabled features for a specific company","produces":["application/json"],"tags":["Company"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the details","required":true,"type":"string"}],"responses":{"200":{"description":"Company response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"enabled_features":{"type":"object"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}":{"get":{"summary":"Show company data","description":"Returns data for a specific company","produces":["application/json"],"tags":["Company"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the details","required":true,"type":"string"},{"name":"include_consumer_app","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_child_companies","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_external_locations","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_custom_fields","in":"path","description":"Default: true","required":false,"type":"boolean"},{"name":"include_gc_templates","in":"path","description":"Include gift card templates. Default: false","required":false,"type":"boolean"},{"name":"include_parent_settings","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_env_fees","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_photos","in":"path","description":"Default: false","required":false,"type":"boolean"},{"name":"include_intake_forms","in":"path","description":"Default: true","required":false,"type":"boolean"},{"name":"include_subscription","in":"path","description":"Default: true","required":false,"type":"boolean"},{"name":"include_scripts","in":"path","description":"Include Google Tag Manager / Google Analytics in `booking_widget` field. Default: true","required":false,"type":"boolean"}],"responses":{"200":{"description":"Company response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"company":{"$ref":"#/definitions/Company"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/custom_field_option_groups":{"get":{"summary":"Get all custom_field_option_groups","description":"Returns all custom_field_option_groups for this company","produces":["application/json"],"tags":["CustomFieldOptionGroup"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the custom_field_option_groups","required":true,"type":"string"}],"responses":{"200":{"description":"CustomFieldOptionGroups response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"custom_field_option_groups":{"type":"array","items":{"$ref":"#/definitions/CustomFieldOptionGroup"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/custom_variations":{"get":{"summary":"Get all custom_variations","description":"Returns all custom_variations for a specific client / child / custom_field","produces":["application/json"],"tags":["CustomVariation"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the custom_variations","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Return only the custom variations for the location_id","required":true,"type":"string"}],"responses":{"200":{"description":"CustomVariations response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"custom_variations":{"type":"array","items":{"$ref":"#/definitions/CustomVariation"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/deals":{"get":{"summary":"Get all deals","description":"Returns all deals for a specific company","produces":["application/json"],"tags":["Deal"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the deals","required":true,"type":"string"},{"name":"location_ids","in":"query","description":"Locations for which we want the deals","required":true,"type":"string"},{"name":"employee_ids","in":"query","description":"Employees for which we want the deals","required":false,"type":"string"},{"name":"variation_setting","in":"query","description":"Return variation_setting","required":false,"type":"string"}],"responses":{"200":{"description":"Deals response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"deals":{"type":"array","items":{"$ref":"#/definitions/Deal"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/durations":{"get":{"summary":"Get all durations","description":"Returns all durations for a specific company","produces":["application/json"],"tags":["Duration"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the durations","required":true,"type":"string"},{"name":"location_ids","in":"query","description":"Locations for which we want the durations","required":true,"type":"string"},{"name":"employee_ids","in":"query","description":"Employees for which we want the durations","required":false,"type":"string"}],"responses":{"200":{"description":"Durations response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"durations":{"type":"array","items":{"$ref":"#/definitions/Duration"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/employees":{"get":{"summary":"Get all employees","description":"Returns all employees for a specific company","produces":["application/json"],"tags":["Employee"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the employees","required":true,"type":"string"},{"name":"location_ids","in":"query","description":"Locations for which we want the employees","required":false,"type":"string"}],"responses":{"200":{"description":"Employees response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"employees":{"type":"array","items":{"$ref":"#/definitions/Employee"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/estimations":{"get":{"summary":"Get the estimations","description":"","produces":["application/json"],"tags":["Estimation"],"parameters":[{"name":"variation_ids","in":"query","description":"The variation_ids for which we want the estimations","required":false,"type":"string"},{"name":"location_id","in":"query","description":"The location_id for which we want the estimations","required":true,"type":"string"},{"name":"employee_id","in":"query","description":"The employee_id for which we want the estimations","required":false,"type":"string"},{"name":"for_employee_ids","in":"query","description":"The employees for which we want an estimation. Only works if `variation_ids` is also sent","required":false,"type":"string"},{"name":"sequences","in":"query","description":"Sequences of form [{ child_id: X, client_id: Y, employee_id: Z, for_employee_ids: 'A,B,C' }]","required":false,"type":"array"}],"responses":{"200":{"description":"Estimation response","schema":{"type":"object","$ref":"#/definitions/Estimation","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases":{"post":{"summary":"Create a gift card purchase","description":"Create a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"amount","in":"query","required":true,"type":"integer"},{"name":"sender_name","in":"query","required":true,"type":"integer"},{"name":"recipient_email","in":"query","required":true,"type":"integer"},{"name":"recipient_first_name","in":"query","required":true,"type":"integer"},{"name":"recipient_last_name","in":"query","required":false,"type":"integer"},{"name":"recipient_note","in":"query","required":false,"type":"integer"},{"name":"location_id","in":"query","required":true,"type":"integer"},{"name":"company_id","in":"query","required":true,"type":"integer"}],"responses":{"201":{"description":"Gift Card Purchase Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/GiftCardPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/${id}":{"put":{"summary":"Update a gift card purchase","description":"Update a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"amount","in":"query","required":true,"type":"integer"},{"name":"sender_name","in":"query","required":true,"type":"integer"},{"name":"recipient_email","in":"query","required":true,"type":"integer"},{"name":"recipient_first_name","in":"query","required":true,"type":"integer"},{"name":"recipient_last_name","in":"query","required":false,"type":"integer"},{"name":"recipient_note","in":"query","required":false,"type":"integer"}],"responses":{"201":{"description":"Gift Card Purchase Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/GiftCardPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/{id}":{"get":{"summary":"Get a gift card purchase","description":"Get a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"responses":{"200":{"description":"GiftCardPurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/GiftCardPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/{id}/complete":{"post":{"summary":"Complete a gift card purchase","description":"Complete a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"card_id","in":"query","description":"The card we use for payment","required":false,"type":"string"}],"responses":{"200":{"description":"GiftCardPurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/GiftCardPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/{id}/apply_promotion":{"get":{"summary":"Test if a promotion or coupon can be applied for a gift card purchase","description":"Test if a promotion or coupon can be applied for a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion/coupon code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Promotion response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/{id}/apply_bogo":{"get":{"summary":"Test if a promotion can be applied for a gift card purchase","description":"Test if a promotion can be applied for a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The promotion code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Bogo response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/gift_card_purchases/{id}/apply_coupon":{"get":{"summary":"Test if a coupon can be applied for a gift card purchase","description":"Test if a coupon can be applied for a gift card purchase","produces":["application/json"],"tags":["GiftCardPurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The coupon code","required":true,"type":"string"}],"responses":{"200":{"description":"Apply Coupon response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/guests":{"post":{"summary":"Create or retrieve a guest user","description":"Create or retrieve a guest user","produces":["application/json"],"tags":["User"],"parameters":[{"name":"user","in":"body","description":"User Details","required":true,"schema":{"$ref":"#/definitions/UserPostBody"}}],"responses":{"201":{"description":"User created or retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"user":{"$ref":"#/definitions/User"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/guests/details":{"get":{"summary":"Retrieve a guest user","description":"Retrieve a guest user","produces":["application/json"],"tags":["User"],"responses":{"200":{"description":"User created or retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"user":{"$ref":"#/definitions/User"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/guests/password":{"put":{"summary":"Update password for a guest user","description":"Update password for a guest user","produces":["application/json"],"tags":["User"],"parameters":[{"name":"user_password","in":"body","description":"User Password Details","required":true,"schema":{"$ref":"#/definitions/UserPasswordPutBody"}}],"responses":{"202":{"description":"User updated","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"user":{"$ref":"#/definitions/User"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/intake/custom_fields":{"get":{"summary":"Get all custom fields","description":"Returns all custom fields","produces":["application/json"],"tags":["CustomField"],"parameters":[{"name":"access_token","in":"query","description":"Access Token","required":true,"type":"string"}],"responses":{"200":{"description":"CustomFields response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"custom_fields":{"type":"array","items":{"$ref":"#/definitions/CustomField"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/intake/intake_form":{"post":{"summary":"Update the intake form values for a client/child","description":"Returns client / child","produces":["application/json"],"tags":["IntakeForm"],"parameters":[{"name":"access_token","in":"query","description":"Access Token","required":true,"type":"string"},{"name":"intake_form_items","in":"body","description":"Object with format { intake_form_item_id: intake_form_item_value }","required":true,"schema":{"properties":{"intake_form_item_id":{"type":"string","required":true,"description":"Object with format { intake_form_item_id: intake_form_item_value }"}}}},{"name":"intake_form_items_files","in":"body","description":"Object with format { intake_form_item_id: file_id }","required":true,"schema":{"properties":{"intake_form_item_id":{"type":"string","required":true,"description":"Object with format { intake_form_item_id: file_id }"}}}}],"responses":{"202":{"description":"Response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"resource":{"type":"object","description":"Child or Client object"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"get":{"summary":"Get intake form","description":"Returns intake form","produces":["application/json"],"tags":["IntakeForm"],"parameters":[{"name":"access_token","in":"query","description":"Access Token","required":true,"type":"string"}],"responses":{"200":{"description":"IntakeForm response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"intake_form":{"$ref":"#/definitions/IntakeForm"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/intake/resource":{"get":{"summary":"Get resource","description":"Returns resource","produces":["application/json"],"tags":["Child","Client"],"parameters":[{"name":"access_token","in":"query","description":"Access Token","required":true,"type":"string"}],"responses":{"200":{"description":"Resource client / child","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"resource":{"$ref":"#/definitions/Client"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/intake_forms/{id}":{"put":{"summary":"Update the intake form values for a client/child","description":"Returns the newly created user","produces":["application/json"],"tags":["IntakeForm"],"parameters":[{"name":"id","in":"path","description":"Intake form id to update","required":true,"type":"string"},{"name":"intake_form","in":"body","description":"Intake form to update","required":true,"schema":{"$ref":"#/definitions/IntakeFormPutBody"}}],"responses":{"202":{"description":"Response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"resource":{"type":"object","description":"Child or Client object"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/locations":{"get":{"summary":"Get all locations","description":"Returns all locations for a specific company","produces":["application/json"],"tags":["Location"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the locations","required":true,"type":"string"},{"name":"include_business_hours","in":"query","description":"Include locations's business hours. default: false","required":false,"type":"string"},{"name":"include_consumer_app_photos","in":"query","description":"Include locations's consumer app photos. default: false","required":false,"type":"string"},{"name":"include_location_groups","in":"query","description":"Include locations's groups. default: false","required":false,"type":"string"}],"responses":{"200":{"description":"Locations response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"locations":{"type":"array","items":{"$ref":"#/definitions/Location"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases":{"post":{"summary":"Create a membership purchase","description":"Create a membership purchase","produces":["application/json"],"tags":["MembershipPurchase"],"parameters":[{"name":"membership_template_id","in":"query","required":true,"type":"integer"},{"name":"location_id","in":"query","required":true,"type":"integer"},{"name":"child_id","in":"query","required":false,"type":"string"}],"responses":{"201":{"description":"Membership Purchase Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/MembershipPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases/{id}":{"get":{"summary":"Get a membership purchase","description":"Get a membership purchase","produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"location_id","in":"query","required":true,"type":"integer"}],"tags":["MembershipPurchase"],"responses":{"200":{"description":"MembershipPurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/MembershipPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases/{id}/complete":{"post":{"summary":"Complete a membership purchase","description":"Complete a membership purchase","produces":["application/json"],"tags":["MembershipPurchase"],"parameters":[{"name":"id","in":"path","description":"Membership Purchase Id","required":true,"type":"string"},{"name":"card_id","in":"query","deprecated":true,"description":"Deprecated, use the `token` parameter instead.","required":true,"type":"string"},{"name":"token","in":"query","description":"The credit card or bank account we use for payment","required":true,"type":"string"},{"name":"payment_type","in":"query","description":"The payment method that the token represents ('card' or 'bank_account')","default":"card","required":false,"type":"string"},{"name":"location_id","in":"query","required":true,"type":"string"},{"name":"start_date","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"MembershipPurchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/MembershipPurchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases/{id}/apply_promotion":{"get":{"summary":"Test if a promotion or coupon can be applied for a membership purchase","description":"Test if a promotion or coupon can be applied for a membership purchase","produces":["application/json"],"tags":["MembershipPurchase"],"parameters":[{"name":"coupon_code","in":"query","description":"The gift card coupon code if promotion_code omitted","required":false,"type":"string"},{"name":"location_id","in":"query","required":true,"type":"integer"},{"name":"promotion_code","in":"query","description":"The promotion code if coupon_code omitted","required":false,"type":"string"}],"responses":{"200":{"description":"Apply Promotion response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases/{id}/apply_bogo":{"get":{"summary":"Test if a promotion can be applied for a membership purchase","description":"Test if a promotion can be applied for a membership purchase","produces":["application/json"],"tags":["MembershipPurchase"],"parameters":[{"name":"location_id","in":"query","required":true,"type":"integer"},{"name":"promotion_code","in":"query","description":"The promotion code","required":false,"type":"string"}],"responses":{"200":{"description":"Apply Bogo response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotion":{"$ref":"#/definitions/Promotion"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/membership_purchases/{id}/apply_coupon":{"get":{"summary":"Test if a coupon can be applied for a membership purchase","description":"Test if a coupon can be applied for a membership purchase","produces":["application/json"],"tags":["MembershipPurchase"],"parameters":[{"name":"promotion_code","in":"query","description":"The gift card coupon code","required":false,"type":"string"},{"name":"location_id","in":"query","required":true,"type":"integer"}],"responses":{"200":{"description":"Apply Coupon response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"coupon":{"$ref":"#/definitions/Coupon"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/memberships":{"get":{"summary":"Get all memberships","description":"Returns all memberships for a specific company","produces":["application/json"],"tags":["Membership"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the memberships","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Location for which we want the memberships","required":true,"type":"string"},{"name":"only_clients","in":"query","description":"Get only memberships which can be sold to clients","required":false,"type":"boolean"}],"responses":{"200":{"description":"Memberships response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"memberships":{"type":"array","items":{"$ref":"#/definitions/Membership"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/open_dates":{"get":{"summary":"Get all open dates","description":"Returns all open dates","produces":["application/json"],"tags":["OpenDate"],"parameters":[{"name":"location_id","in":"query","description":"Location id to filter open times by","required":true,"type":"integer"},{"name":"employee_id","in":"query","description":"For single-staff appointments: id of employee to filter open dates by","required":false,"type":"integer"},{"name":"is_existing_customer","in":"query","description":"Is existing customer?","required":true,"type":"boolean"},{"name":"variation_ids","in":"query","description":"Return only the open dates for this variations","required":true,"type":"string"},{"name":"employee_filter_value","in":"query","description":"Defined on company (Can be male / female)","required":false,"type":"string"},{"name":"child_id","in":"query","description":"Affects duration of services considered. Alternatively, provide custom_field_id and custom_field_values","required":false,"type":"string"},{"name":"custom_field_id","in":"query","description":"Affects duration of services considered when combined with custom_field_values.","required":false,"type":"string"},{"name":"custom_field_values","in":"query","description":"Affects duration of services considered when combined with custom_field_id.","required":false,"type":"string"}],"responses":{"200":{"description":"OpenDate response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"open_dates":{"type":"array","items":{"$ref":"#/definitions/OpenDate"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/open_times":{"post":{"summary":"Get all open times","description":"Returns all open times.","produces":["application/json"],"tags":["OpenTime"],"parameters":[{"name":"location_id","in":"query","description":"Location id to filter open times by","required":true,"type":"integer"},{"name":"employee_id","in":"query","description":"For single-staff appointments: id of employee to filter open times by","required":false,"type":"integer"},{"name":"employee_ids","in":"query","description":"For multi-staff appointments: Comma-delimited list of employee ids to filter open times by,\n                corresponding to the list of variation_ids","required":false,"type":"integer"},{"name":"is_existing_customer","in":"query","description":"Is existing customer?. Please read `OpenTimes Section. 1)`","required":true,"type":"boolean"},{"name":"variation_ids","in":"query","description":"Comma-delimited list of variation_ids that open times should be returned for.","required":true,"type":"string"},{"name":"all_variation_ids","in":"query","description":"Comma-delimited list of all_variation_ids for all family members that open times should be returned for.","required":true,"type":"string"},{"name":"employee_filter_value","in":"query","description":"Defined on company (Can be male / female)","required":false,"type":"string"},{"name":"date","in":"query","description":"Return only the open times for this date. ISO8601 format","required":true,"type":"string"},{"name":"child_id","in":"query","description":"Return custom prices for the selected child. Please read `OpenTimes Section. 1)`.\n                Also may affect duration of services considered.","required":false,"type":"string"},{"name":"custom_field_id","in":"query","description":"Return custom prices for this custom field e.g. Pet Breed Custom Field Id.\n                Also may affect duration of services considered.","required":false,"type":"string"},{"name":"custom_field_values","in":"query","description":"Return custom prices for this custom field value. e.g. Akita.\n                Also may affect duration of services considered.","required":false,"type":"string"},{"name":"cart_items","in":"body","description":"Cart Item Object","required":true,"type":"array","items":{"$ref":"#/definitions/CartItemObject"}}],"responses":{"200":{"description":"OpenTime response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"open_times":{"type":"array","items":{"$ref":"#/definitions/OpenTime"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"get":{"summary":"Get all open times","description":"Returns all open times.","produces":["application/json"],"tags":["OpenTime"],"parameters":[{"name":"location_id","in":"query","description":"Location id to filter open times by","required":true,"type":"integer"},{"name":"employee_id","in":"query","description":"For single-staff appointments: id of employee to filter open times by","required":false,"type":"integer"},{"name":"employee_ids","in":"query","description":"For multi-staff appointments: Comma-delimited list of employee ids to filter open times by,\n                corresponding to the list of variation_ids","required":false,"type":"integer"},{"name":"is_existing_customer","in":"query","description":"Is existing customer?. Please read `OpenTimes Section. 1)`","required":true,"type":"boolean"},{"name":"variation_ids","in":"query","description":"Comma-delimited list of variation_ids that open times should be returned for.","required":true,"type":"string"},{"name":"all_variation_ids","in":"query","description":"Comma-delimited list of all_variation_ids for all family members that open times should be returned for.","required":true,"type":"string"},{"name":"employee_filter_value","in":"query","description":"Defined on company (Can be male / female)","required":false,"type":"string"},{"name":"date","in":"query","description":"Return only the open times for this date. ISO8601 format","required":true,"type":"string"},{"name":"child_id","in":"query","description":"Return custom prices for the selected child. Please read `OpenTimes Section. 1)`.\n                Also may affect duration of services considered.","required":false,"type":"string"},{"name":"custom_field_id","in":"query","description":"Return custom prices for this custom field e.g. Pet Breed Custom Field Id.\n                Also may affect duration of services considered.","required":false,"type":"string"},{"name":"custom_field_values","in":"query","description":"Return custom prices for this custom field value. e.g. Akita.\n                Also may affect duration of services considered.","required":false,"type":"string"}],"responses":{"200":{"description":"OpenTime response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"open_times":{"type":"array","items":{"$ref":"#/definitions/OpenTime"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/openings":{"get":{"summary":"Get all openings","description":"Returns all openings.","produces":["application/json"],"tags":["Opening"],"parameters":[{"name":"location_id","in":"query","description":"Location id to filter open times by","required":true,"type":"integer"},{"name":"start_date","in":"query","description":"Return only the openings starting with this date. ISO8601 format","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Return only the openings ending on this date. ISO8601 format","required":true,"type":"string"}],"responses":{"200":{"description":"Opening response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"open_times":{"type":"array","items":{"$ref":"#/definitions/Opening"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/pricings":{"get":{"summary":"Get all pricings","description":"Returns all pricings for a specific company","produces":["application/json"],"tags":["Pricing"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the pricings","required":true,"type":"string"},{"name":"location_ids","in":"query","description":"Locations for which we want the pricings","required":true,"type":"string"},{"name":"employee_ids","in":"query","description":"Employees for which we want the pricings","required":false,"type":"string"}],"responses":{"200":{"description":"Pricings response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"pricings":{"type":"array","items":{"$ref":"#/definitions/Pricing"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/promotions":{"get":{"summary":"Get all promotions","description":"Returns all promotions for a specific company","produces":["application/json"],"tags":["Promotion"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the promotions","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Locations for which we want the promotions","required":true,"type":"string"},{"name":"employee_ids","in":"query","description":"Employees for which we want the promotions","required":false,"type":"string"}],"responses":{"200":{"description":"Promotions response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"promotions":{"type":"array","items":{"$ref":"#/definitions/Promotion"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/purchases":{"post":{"summary":"Create a purchase","description":"Create a purchase","produces":["application/json"],"tags":["Purchase"],"parameters":[{"name":"purchase","in":"body","description":"The purchase","required":true,"schema":{"$ref":"#/definitions/PurchasePostBody"}},{"name":"appointment_clients","in":"body","description":"The appointment clients","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/AppointmentClient"}}}],"responses":{"201":{"description":"Purchase Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/Purchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/purchases/{id}":{"get":{"summary":"Get a purchase","description":"Get a purchase","produces":["application/json"],"tags":["Purchase"],"responses":{"200":{"description":"Purchase Retrieved","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/Purchase"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/referrals":{"get":{"summary":"Get a client's referral statistics","description":"Returns all referral statistics for the logged in client on the specified company","produces":["application/json"],"tags":["ClientReferral"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the referral statistics","required":true,"type":"integer"}],"responses":{"200":{"description":"Referrals statistics response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"total_referrals":{"type":"integer"},"total_activated_referrals":{"type":"integer"},"total_earned_credit":{"type":"number"},"total_activated_credit":{"type":"number"},"credits_remaining":{"type":"number"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/referrals":{"post":{"summary":"Create a new ClientReferral","description":"","produces":["application/json"],"tags":["ClientReferral"],"parameters":[{"name":"company_id","in":"query","description":"Company to create the ClientReferral on","required":true,"type":"integer"},{"name":"referrer_id","in":"path","description":"ID of the client that is the referrer","required":true,"type":"integer"}],"responses":{"201":{"description":"ClientReferral response","schema":{"type":"object","$ref":"#/definitions/ClientReferral","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/referrals/invite":{"post":{"summary":"Refer a new client","description":"Create a new client, ClientReferral, and send an invite to the new client","produces":["application/json"],"tags":["ClientReferral"],"parameters":[{"name":"company_id","in":"path","description":"Company to invite the client on","required":true,"type":"integer"},{"name":"email","in":"path","description":"Email of the new client","required":false,"type":"string"},{"name":"mobile","in":"path","description":"Phone Number of the new client","required":false,"type":"string"},{"name":"invite_type","in":"path","description":"email or mobile","required":true,"type":"string"},{"name":"message","in":"path","description":"Message to send the new client","required":true,"type":"string"},{"name":"first_name","in":"path","description":"First name of the new client","required":true,"type":"string"}],"responses":{"201":{"description":"ClientReferral response","schema":{"type":"object","$ref":"#/definitions/ClientReferral","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/referrals/{id}":{"get":{"summary":"Get a ClientReferral","description":"Get a ClientReferral","produces":["application/json"],"tags":["ClientReferral"],"responses":{"200":{"description":"ClientReferral response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"purchase":{"$ref":"#/definitions/ClientReferral"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/companies/{company_id}/requirements":{"get":{"summary":"Get all requirements","description":"Returns all requirements for a specific company","produces":["application/json"],"tags":["Requirement"],"parameters":[{"name":"company_id","in":"path","description":"Company for which we want the requirements","required":true,"type":"string"},{"name":"variation_ids","in":"query","description":"Variations for which we want the requirements","required":true,"type":"string"},{"name":"location_ids","in":"query","description":"Locations for which we want the requirements","required":true,"type":"string"}],"responses":{"200":{"description":"Requirements response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"requirements":{"type":"array","items":{"$ref":"#/definitions/Requirement"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/sessions":{"post":{"summary":"Create a sessions","description":"Create a sessions","produces":["application/json"],"tags":["Session"],"parameters":[{"name":"session","in":"body","description":"The session","required":true,"schema":{"$ref":"#/definitions/SessionPostBody"}}],"responses":{"201":{"description":"Session Created","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"session":{"$ref":"#/definitions/Session"},"user":{"$ref":"#/definitions/User"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/tickets":{"post":{"summary":"BETA API - Create a new ticket","description":"BETA API - Please don't use this before contacting MyTime","produces":["application/json"],"tags":["Ticket"],"parameters":[{"name":"ticket","in":"body","description":"The ticket","required":true,"schema":{"$ref":"#/definitions/TicketPostBody"}}],"responses":{"201":{"description":"Ticket response","schema":{"type":"object","$ref":"#/definitions/Ticket","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}},"get":{"summary":"BETA API - Get open tickets for current user","description":"BETA API - Please don't use this before contacting MyTime","produces":["application/json"],"tags":["Ticket"],"parameters":[{"name":"client_id","in":"query","description":"The client for which we retrieve the tickets","required":true,"type":"string"},{"name":"location_id","in":"query","description":"Filter tickets by location","required":false,"type":"string"}],"responses":{"200":{"description":"Tickets response","name":"tickets","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"tickets":{"type":"array","items":{"$ref":"#/definitions/Ticket"}}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/tickets/{id}/tips":{"put":{"summary":"BETA API - Change tips for a ticket.","description":"BETA API - Please don't use this before contacting MyTime. This will remove all the other tips. Tips will be added to first appointment in the ticket.","produces":["application/json"],"tags":["Ticket"],"parameters":[{"name":"id","in":"path","description":"The ticket id","required":true,"type":"string"},{"name":"ticket","in":"body","description":"The ticket","required":true,"schema":{"$ref":"#/definitions/TicketTipsPutBody"}}],"responses":{"201":{"description":"Ticket response","schema":{"type":"object","$ref":"#/definitions/Ticket","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/tickets/{id}/apply_code":{"put":{"summary":"BETA API - Apply promo code or gift card for a ticket.","description":"BETA API - Please don't use this before contacting MyTime.","produces":["application/json"],"tags":["Ticket"],"parameters":[{"name":"id","in":"path","description":"The ticket id","required":true,"type":"string"},{"name":"ticket","in":"body","description":"The body","required":true,"schema":{"$ref":"#/definitions/TicketApplyCodePutBody"}}],"responses":{"201":{"description":"Ticket response","schema":{"type":"object","$ref":"#/definitions/Ticket","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/tickets/{id}/close":{"put":{"summary":"BETA API - Pay by card and close ticket","description":"BETA API - Please don't use this before contacting MyTime.","produces":["application/json"],"tags":["Ticket"],"parameters":[{"name":"id","in":"path","description":"The ticket id","required":true,"type":"string"},{"name":"ticket","in":"body","description":"Close ticket body","required":true,"schema":{"$ref":"#/definitions/TicketClosePostBody"}}],"responses":{"201":{"description":"Ticket response","schema":{"type":"object","$ref":"#/definitions/Ticket","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/apple/login":{"post":{"summary":"Login with apple token","description":"Returns the newly logged in user","produces":["application/json"],"tags":["User"],"parameters":[{"name":"user_apple_login","in":"body","description":"User Apple Login Details","required":true,"schema":{"$ref":"#/definitions/UserAppleLoginPostBody"}}],"responses":{"201":{"description":"Users response","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/ErrorParameter"},"user":{"$ref":"#/definitions/User"}}}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/AnyModelWithError"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/AnyModelWithError"}}}}},"/user/bundle_purchases":{"get":{"summary":"Get all bundle purchases","description":"Returns all bundle purchases for a user for a specific company","produces":["application/json"],"tags":["BundlePurchase"],"parameters":[{"name":"company_id","in":"query","description":"Company for which we want the bundle purchases","required":true,"type":"integer"}],"responses":{"200":{"description":"Bundle purchases r
[...]
