{"swagger":"2.0","parameters":{"id":{"name":"id","in":"path","description":"The id","required":true,"type":"string"},"location_partner_id":{"name":"location_partner_id","in":"query","description":"Location partner (external) ID by which to filter results - Optional","required":false,"type":"string"},"location_mytime_id":{"name":"location_mytime_id","in":"query","description":"Location MyTime ID by which to filter results - Optional","required":false,"type":"integer"},"client_mytime_id":{"name":"client_mytime_id","in":"query","description":"Client MyTime ID by which to filter results - Optional","required":false,"default":null,"type":"integer"},"location_id":{"name":"location_id","in":"path","description":"The location's id","required":true,"type":"string"},"location_id_is_partner":{"name":"location_id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},"class_session_id":{"name":"class_session_id","in":"path","description":"The class sessions's id","required":true,"type":"integer"},"id_is_partner":{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},"Subdomain":{"name":"X-Subdomain","in":"header","description":"Merchant subdomain - Optional","required":false,"type":"string"},"page":{"name":"page","in":"query","description":"Pagination - results page number to retrieve","required":false,"type":"integer"},"Partner":{"name":"X-Partner","in":"header","description":"Partner key - Optional","required":false,"type":"string"}},"securityDefinitions":{"api_key":{"type":"apiKey","name":"X-Api-Key","in":"header"}},"security":[{"api_key":[]}],"info":{"version":"1.0.0","title":"MyTime Partners API","description":"As a MyTime Partner, you’ll be able to use restful endpoints to build an apps that helps you register customers, schedule and configure classes, appointments, and enroll customers in the events you’ve configured.\n\nFirst Steps\n---\nGetting an X-Api-Key\n--\nThe first thing you will need to make an API request is a partners API key. This is a manually generated that should be kept secure. It is used to identify each partner and validate each API request. If you don’t have a key yet, please reach out to our support team.\n\n\nSetting Header Values for Each Request\n---\nHeader: X-Api-Key\n\nFor each API request, pass your X-Api-Key in the as a header value. This should be sent by each consumer of the API. This is a 40~ characters string and is the same one you would use to login on the documentation. For using the Swagger Interactive Documentation we should use the green ‘Authorize’ button to set this header.\nE.g. Company X has the API_KEY=abcd they would send the header “X-Api-Key: abcd”\n\nHeader: Accept-Encoding\n\nIf we want to use the Swagger Interactive Documentation we should include this header on each request. This can be easily done by using a Chrome extension called 'Modify Headers’. If we don’t send this the request will be finalized correctly but the results won’t be returned correctly to the Swagger interface.\n\nHeader: X-Subdomain\n\nThis will be sent by consumers which are on their own infrastructure and have a custom subdomain. E.g. Company ABC Grooming can use abc.mytime.com thus will be sending “X-Subdomain: Abc” with every request they do through Partner APIs.\n\nHeader: X-Partner\n\n  Some of our partners require custom API responses for integration. For such partners API responses will be formatted to suit the needs of that particular integration.\n\n  Appointments and Classes\n  ----\n  If you have a business that services for groups of people for each event (eg. Yoga classes), you will use Classes, Class Sessions, Class Categories, and Attendee Types to build out your app.\n\nIf your business services one person at a time (eg. Haircuts, pet care), you will use the Appointments, and Open Times endpoints to build out your app.\n\nFormatting Dates and DateTimes\n---\nAll of the Date and Dates are formatted using the iso8601 standard.\n\nMytime ID vs Partner ID/External ID\n---\nIf you need to migrate data from your own system, it will be useful to refer to your own internal IDs when calling the Partner API instead of the ids generated in our database. If you aren’t migrating any data, there’s no need to worry about a partner_id, you can use mytime id when referencing objects.\n\nA Mytime ID, (eg. location_mytime_id, client_mytime_id) is auto generated by our MySQL Database and is always an INT or BIGINT.\n\nA Partner ID/External ID (eg. location_partner_id, client_partner_id)is an external id which can be set by an API Consumer. This can be useful in case you have your own database which you want to sync with Mytime’s database.\n\n"},"tags":[{"name":"Company","description":"Company information"},{"name":"Client","description":"A client is a customer or a patron. Use these restful endpoints to register, retrieve a list of customers, show, update, and delete. Clients can enroll in both classes and appointments."},{"name":"Children","description":"A child is a generic endpoint for and represents what a client brings to an appointment or class. Initially it was built for children but it can also represent a pet. "},{"name":"Attendee Types","description":"You can configure different Attendee Types for promotions or special attendees to a class.\n            (Eg. Employee, Promotion XYZ, Promotion ABC)."},{"name":"OpenTime","description":"Open times represent when your business has an availability for an Appointment."},{"name":"Appointment","description":"And appointment is a one on one service involving your business (eg. Haircut, Dog Wash)"},{"name":"Deal","description":"Deal Operations"},{"name":"Location","description":"A location is a distinct storefront for your business."},{"name":"Class Sessions","description":"A Class Session is a specific instance of a class. (eg. “Hot Yoga on Thursday”)\""},{"name":"Resources","description":"Resources belong to Locations and are used in Classes and Class Sessions. A Class Resource is something that a class will reserve for the duration of the class, eg. a room, sound system."},{"name":"Classes","description":"Class Operations, eg. \"Power Yoga\", \"Hot Yoga\""},{"name":"Class Categories","description":"Class Categories are used to organize different types of classes. , eg. \"Yoga\""},{"name":"Session Enrollments","description":"Session Enrollments represent the attendance of a client to a class session.\n            You need at least a class session id, a client id, and an attendee type id to make this api call. "},{"name":"External Locations","description":"Locations outside of store which can be used for scheduling classes. "},{"name":"Loyalty Program Points","description":"Loyalty program points management"},{"name":"Labels","description":"Labels that can be attached to clients"},{"name":"CustomField","description":"Custom fields defined on a company."},{"name":"StaffSchedule","description":"Staff Schedule for a location"},{"name":"Employees","description":"Employees for a company"}],"host":"partners-api.mytime.com","basePath":"/api","consumes":["application/json"],"produces":["application/json"],"paths":{"/attendee_types":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Attendee type response","schema":{"type":"array","items":{"$ref":"#/definitions/AttendeeResponse"}}}},"tags":["Attendee Types"],"summary":"Returns all attendee types","description":"","produces":["application/json"]},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Attendee response","schema":{"$ref":"#/definitions/AttendeeResponse"}}},"tags":["Attendee Types"],"summary":"Creates an Attendee Type","description":"","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"name of the Attendee Type","required":true,"type":"string"}]}},"/attendee_types/{id}":{"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Attendee Type response","schema":{"$ref":"#/definitions/AttendeeResponse"}}},"tags":["Attendee Types"],"summary":"Updates an attendee type","description":"","produces":["application/json"],"parameters":[{"$ref":"#/parameters/id"},{"name":"name","in":"query","description":"name of the Attendee Type","required":true,"type":"string"}]}},"/clients":{"get":{"summary":"Returns all clients from the system that the user has access to.","description":"\n        For each user - identified by user and password - we should have only one client per company.\n        Different MyTime Companies will have different client records for each user.\n      ","produces":["application/json"],"tags":["Client"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"page","in":"query","description":"Pagination - results page number","required":false,"type":"string"},{"name":"per_page","in":"query","description":"Pagination - number of results per per_page. Default: 20. Maximum: 20","required":false,"type":"string"},{"name":"include_children","in":"query","description":"Include the children for the client. true/false","required":false,"type":"boolean"},{"name":"include_appointments","in":"query","description":"Include appointments for the client. true/false. Max: 50","required":false,"type":"boolean"},{"name":"include_appointment_events","in":"query","description":"Include the events of the appointments for the client (dependent on \"include_appointments\"). true/false","required":false,"type":"boolean"},{"name":"include_labels","in":"query","description":"Include the labels for the client. true/false","required":false,"type":"boolean"},{"name":"include_memberships_labels","in":"query","description":"Include the memberships labels for the client. true/false","required":false,"type":"boolean"},{"name":"include_memberships","in":"query","description":"Include the memberships for the client. true/false","required":false,"type":"boolean"},{"name":"appointment_count","in":"query","description":"Include the appointments count. true/false","required":false,"type":"boolean"},{"name":"location_partner_ids","in":"query","description":"Filter clients by location","required":false,"type":"array","items":{"type":"string"}},{"name":"location_mytime_ids","in":"query","description":"Filter clients by location using mytime ids","required":false,"type":"array","items":{"type":"integer"}},{"name":"search","in":"query","description":"Filter clients by search term","required":false,"type":"string"},{"name":"sample_webhook","in":"query","description":"Whether or not to parse the client in the same way the webhook parses it. Used for testing purposes. true/false","required":false,"type":"boolean"}],"responses":{"200":{"description":"Clients response","schema":{"type":"object","properties":{"count":{"type":"integer"},"clients":{"type":"array","items":{"$ref":"#/definitions/Client"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"summary":"Create a new client","description":"Create a new client","produces":["application/json"],"tags":["Client"],"parameters":[{"name":"partner_id","in":"query","description":"ID","required":false,"type":"string"},{"name":"client_type","in":"query","description":"Client type","required":false,"type":"string","enum":["MyClient::Client","MyClient::Lead"]},{"$ref":"#/parameters/Subdomain"},{"name":"first_name","in":"query","description":"First name","required":true,"type":"string"},{"name":"last_name","in":"query","description":"Last name","required":false,"type":"string"},{"name":"mobile_phone","in":"query","description":"Mobile Phone","required":false,"type":"string"},{"name":"work_phone","in":"query","description":"Work Phone","required":false,"type":"string"},{"name":"email","in":"query","description":"Email","required":false,"type":"string"},{"name":"ignore_custom_required_fields","in":"query","description":"Skip the required custom fields validations","required":false,"type":"boolean"},{"name":"source_quick_add","in":"query","description":"Was the client added through a quick add?","required":false,"type":"boolean"},{"name":"can_receive_automated_emails","in":"query","description":"Can receive automated emails","required":false,"type":"boolean"},{"name":"can_receive_automated_sms","in":"query","description":"Can receive automated SMS","required":false,"type":"boolean"},{"name":"can_receive_manual_emails","in":"query","description":"Can receive manual emails","required":false,"type":"boolean"},{"name":"can_receive_manual_sms","in":"query","description":"Can receive manual sms","required":false,"type":"boolean"},{"name":"can_receive_manual_sms_confirmed_at","in":"query","description":"When was can_receive_manual_sms confirmed by double sms opt in","required":false,"type":"string","format":"date-time"},{"name":"can_receive_automated_sms_confirmed_at","in":"query","description":"When was can_receive_automated_sms confirmed by double sms opt in","required":false,"type":"string","format":"date-time"},{"name":"add_label_names","in":"query","description":"List of labels to add to the client","required":false,"type":"array","items":{"type":"string"}},{"name":"contact_preference","in":"query","description":"Contact Preference. Email = 0, Home Phone = 1, Work Phone = 2, Text Message = 3, Mobile Phone = 4","required":false,"type":"integer"},{"name":"preferred_location_partner_id","in":"query","description":"Preferred location partner id","required":false,"type":"string"},{"name":"preferred_location_mytime_id","in":"query","description":"Preferred location mytime id","required":false,"type":"string"},{"name":"associated_location_partner_ids","in":"query","description":"Associated location partner id","required":false,"type":"array","items":{"type":"string"}},{"name":"associated_location_mytime_ids","in":"query","description":"Associated location mytime id","required":false,"type":"array","items":{"type":"string"}},{"name":"addresses","in":"body","description":"Client Addresses","required":false,"schema":{"properties":{"addresses":{"type":"array","items":{"$ref":"#/definitions/CreateAddress"}}}}}],"responses":{"201":{"description":"Created","$ref":"#/definitions/Client"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/clients/{id}":{"get":{"summary":"Get client details","description":"Get client details","produces":["application/json"],"tags":["Client"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"Id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"include_children","in":"query","description":"Include the children for the client. true/false","required":false,"type":"boolean"},{"name":"include_appointments","in":"query","description":"Include appointments for the client. true/false. Max: 50","required":false,"type":"boolean"},{"name":"include_appointment_events","in":"query","description":"Include the events of the appointments for the client (dependent on \"include_appointments\"). true/false","required":false,"type":"boolean"},{"name":"appointment_count","in":"query","description":"Include the appointments count. true/false","required":false,"type":"boolean"},{"name":"include_labels","in":"query","description":"Include the labels for the client. true/false","required":false,"type":"boolean"},{"name":"include_memberships","in":"query","description":"Include the memberships for the client. true/false","required":false,"type":"boolean"},{"name":"include_memberships_labels","in":"query","description":"Include the memberships labels for the client. true/false","required":false,"type":"boolean"}],"responses":{"200":{"description":"Updated","schema":{"type":"array","items":{"$ref":"#/definitions/Client"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"summary":"Delete client","description":"Delete an existing client","produces":["application/json"],"tags":["Client"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"Id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"put":{"summary":"Update a client","description":"Update a client","produces":["application/json"],"tags":["Client"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"Id","required":true,"type":"string"},{"name":"ignore_custom_required_fields","in":"query","description":"Skip the required custom fields validations","required":false,"type":"boolean"},{"name":"source_quick_add","in":"query","description":"Was the client added through a quick add?","required":false,"type":"boolean"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"first_name","in":"query","description":"First name","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Last name","required":false,"type":"string"},{"name":"mobile_phone","in":"query","description":"Mobile Phone","required":false,"type":"string"},{"name":"work_phone","in":"query","description":"Work Phone","required":false,"type":"string"},{"name":"email","in":"query","description":"Email","required":false,"type":"string"},{"name":"addresses","in":"body","description":"Client Addresses","required":false,"schema":{"properties":{"addresses":{"type":"array","items":{"$ref":"#/definitions/Address"}}}}},{"name":"can_receive_automated_emails","in":"query","description":"Can receive automated emails","required":false,"type":"boolean"},{"name":"can_receive_automated_sms","in":"query","description":"Can receive automated SMS","required":false,"type":"boolean"},{"name":"can_receive_manual_emails","in":"query","description":"Can receive manual emails","required":false,"type":"boolean"},{"name":"can_receive_manual_sms","in":"query","description":"Can receive manual sms","required":false,"type":"boolean"},{"name":"can_receive_manual_sms_confirmed_at","in":"query","description":"When was can_receive_manual_sms confirmed by double sms opt in","required":false,"type":"string","format":"date-time"},{"name":"can_receive_automated_sms_confirmed_at","in":"query","description":"When was can_receive_automated_sms confirmed by double sms opt in","required":false,"type":"string","format":"date-time"},{"name":"contact_preference","in":"query","description":"Contact Preference. Email = 0, Home Phone = 1, Work Phone = 2, Text Message = 3, Mobile Phone = 4","required":false,"type":"integer"},{"name":"preferred_location_partner_id","in":"query","description":"Preferred location partner id","required":false,"type":"string"},{"name":"preferred_location_mytime_id","in":"query","description":"Preferred location mytime id","required":false,"type":"integer"},{"name":"associated_location_partner_ids","in":"query","description":"Associated location partner id","required":false,"type":"array","items":{"type":"string"}},{"name":"associated_location_mytime_ids","in":"query","description":"Associated location mytime id","required":false,"type":"array","items":{"type":"string"}},{"name":"add_label_names","in":"query","description":"List of labels to add to the client","required":false,"type":"array","items":{"type":"string"}},{"name":"remove_label_names","in":"query","description":"List of labels to remove from the client","required":false,"type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"Updated","schema":{"type":"array","items":{"$ref":"#/definitions/Client"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/children":{"get":{"summary":"Get all children/pets","description":"Returns all children/pets for a particular client","produces":["application/json"],"tags":["Children"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"client_partner_id","in":"query","description":"The client's id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","required":false,"type":"integer"}],"responses":{"200":{"description":"Clients response","schema":{"type":"array","items":{"$ref":"#/definitions/Child"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"summary":"Create a new pet/child","description":"Create a new pet/child","produces":["application/json"],"tags":["Children"],"parameters":[{"name":"partner_id","in":"query","description":"The child's partner id","required":false,"type":"string"},{"$ref":"#/parameters/Subdomain"},{"name":"client_partner_id","in":"query","description":"The client's id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","required":false,"type":"integer"},{"name":"ignore_custom_required_fields","in":"query","description":"Skip the required custom fields validations","required":false,"type":"boolean"},{"name":"source_quick_add","in":"query","description":"Was the client added through a quick add?","required":false,"type":"boolean"},{"name":"child","in":"body","description":"The child details","required":true,"schema":{"$ref":"#/definitions/Child"}}],"responses":{"200":{"description":"Created","$ref":"#/definitions/Child"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/children/{id}":{"delete":{"summary":"Delete child/pet","description":"Delete an existing child/pet","produces":["application/json"],"tags":["Children"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The child's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"put":{"summary":"Update a pet or a child","description":"Update a pet or a child","produces":["application/json"],"tags":["Children"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The child's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"client_partner_id","in":"query","description":"The client's id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","required":false,"type":"integer"},{"name":"ignore_custom_required_fields","in":"query","description":"Skip the required custom fields validations","required":false,"type":"boolean"},{"name":"source_quick_add","in":"query","description":"Was the client added through a quick add?","required":false,"type":"boolean"},{"name":"child","in":"body","description":"The child details","required":true,"schema":{"$ref":"#/definitions/Child"}}],"responses":{"200":{"description":"Updated","schema":{"type":"array","items":{"$ref":"#/definitions/Child"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/open_times":{"get":{"summary":"Get all open times","description":"Returns all open times for a variation, employee and child","produces":["application/json"],"tags":["OpenTime"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"employee_partner_id","in":"query","description":"The employee's id","required":false,"type":"string"},{"name":"employee_mytime_id","in":"query","description":"The employee's mytime id","required":false,"type":"integer"},{"name":"variations_partner_id","in":"query","description":"The variations ids","required":false,"type":"array","items":{"type":"string"}},{"name":"variations_mytime_id","in":"query","description":"The variations mytime ids","required":false,"type":"array","items":{"type":"integer"}},{"name":"child_partner_id","in":"query","description":"The child's id","required":false,"type":"string"},{"name":"child_mytime_id","in":"query","description":"The child's mytime id","required":false,"type":"integer"},{"name":"location_partner_id","in":"query","description":"The location's id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"The location's mytime id","required":false,"type":"integer"},{"name":"date","in":"query","description":"The date for the open times e.g.: 2017-10-22","required":true,"type":"string"},{"name":"is_existing_customer","in":"query","description":"Is existing customer?","required":true,"default":false,"type":"boolean"}],"responses":{"200":{"description":"Open Times response","schema":{"type":"array","items":{"$ref":"#/definitions/OpenTime"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments":{"get":{"summary":"Get all appointments","description":"Returns all appointments from a specific location","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"location_partner_id","in":"query","description":"Filter appointments by location using the partner (external) id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"Filter appointments by location using the mytime id","required":false,"type":"string"},{"name":"employee_mytime_id","in":"query","description":"Filter appointments by Employee mytime ID","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"Filter appointments by Client mytime ID","required":false,"type":"string"},{"name":"for_waitlist","in":"query","description":"Return only the appointments from the waitlist","required":false,"type":"boolean"},{"name":"start_date","in":"query","description":"The start_date for the appointments. Default: Yesterday. e.g.: 2017-10-22","required":false,"type":"string"},{"name":"end_date","in":"query","description":"The end_date for the appointments. Default: Today. e.g.: 2017-10-22","required":false,"type":"string"},{"name":"created_start_date","in":"query","description":"The created_start_date for the appointments. e.g.: 2017-10-22 . created_end_date is required for this to work","required":false,"type":"string"},{"name":"created_end_date","in":"query","description":"The created_end_date for the appointments. e.g.: 2017-10-22 . created_start_date is required for this to work","required":false,"type":"string"},{"name":"include_events","in":"query","description":"Include the events for the appointment. true/false","required":false,"type":"boolean"},{"name":"include_notes","in":"query","description":"Include the notes for the appointment. true/false","required":false,"type":"boolean"},{"name":"include_custom_field_values","in":"query","description":"Include the custom field values for the appointment. true/false","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"The number of results in the response (max 100)","required":false,"type":"integer"},{"name":"offset","in":"query","description":"The number of results to offset the response by. Eg. If the offset is 100, then the response would start at the 101st item","required":false,"type":"integer"},{"name":"sample","in":"query","description":"Returns last 10 appointments regardless of the other parameters. Used for testing purposes. true/false","required":false,"type":"boolean"},{"name":"sample_webhook","in":"query","description":"Whether or not to parse the appointment in the same way the webhook parses it. Used for testing purposes. true/false","required":false,"type":"boolean"}],"responses":{"200":{"description":"Appointment response","schema":{"type":"array","items":{"$ref":"#/definitions/Appointment"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"summary":"Create an appointment","description":"Returns the newly created appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"appointment","in":"body","description":"The appointment details","required":true,"schema":{"$ref":"#/definitions/AppointmentPostBody"}},{"name":"partner_id","in":"query","description":"The appointments's id","required":false,"type":"string"},{"name":"client_partner_id","in":"query","description":"The client's id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","required":false,"type":"integer"},{"name":"child_partner_id","in":"query","description":"The child's id","required":false,"type":"string"},{"name":"child_mytime_id","in":"query","description":"The child's mytime id","required":false,"type":"integer"},{"name":"location_partner_id","in":"query","description":"The location's id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"The location's mytime id","required":false,"type":"integer"},{"name":"employee_partner_id","in":"query","description":"The employee's id","required":false,"type":"string"},{"name":"employee_mytime_id","in":"query","description":"The employee's mytime id","required":false,"type":"integer"},{"name":"begin_at","in":"query","description":"The appointment's start time. e.g 2017-10-17T10:00:00Z","required":true,"type":"string"},{"name":"end_at","in":"query","description":"The appointment's end time. e.g 2017-10-17T12:00:00Z","required":true,"type":"string"},{"name":"referrer","in":"query","description":"Referrer for appointment","required":false,"type":"string"},{"name":"address_id","in":"query","description":"Client address ID","required":false,"type":"string"},{"name":"employee_requested","in":"query","description":"Whether an employee was requested","required":false,"type":"boolean"},{"name":"check_conflicts","in":"query","description":"Whether to check for appointment conflicts or not","required":false,"type":"boolean"}],"responses":{"200":{"description":"Appointment response","schema":{"$ref":"#/definitions/Appointment"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}":{"get":{"summary":"Get an appointment","description":"Returns the appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"include_events","in":"query","description":"Include the events for the appointment. true/false","required":false,"type":"boolean"},{"name":"include_notes","in":"query","description":"Include the notes for the appointment. true/false","required":false,"type":"boolean"},{"name":"include_custom_field_values","in":"query","description":"Include the custom field values for the appointment. true/false","required":false,"type":"boolean"}],"responses":{"200":{"description":"Appointment response","schema":{"$ref":"#/definitions/Appointment"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"put":{"summary":"Update an appointment","description":"Returns the newly updated appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"appointment","in":"body","description":"The appointment details","required":true,"schema":{"$ref":"#/definitions/AppointmentPostBody"}},{"name":"client_partner_id","in":"query","description":"The client's id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","required":false,"type":"integer"},{"name":"child_partner_id","in":"query","description":"The child's id","required":false,"type":"string"},{"name":"child_mytime_id","in":"query","description":"The child's mytime id","required":false,"type":"integer"},{"name":"location_partner_id","in":"query","description":"The location's id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"The location's mytime id","required":false,"type":"integer"},{"name":"employee_partner_id","in":"query","description":"The employee's id","required":false,"type":"string"},{"name":"employee_mytime_id","in":"query","description":"The employee's mytime id","required":false,"type":"integer"},{"name":"begin_at","in":"query","description":"The appointment's start time. e.g 2017-10-17T10:00:00Z","required":true,"type":"string"},{"name":"end_at","in":"query","description":"The appointment's end time. e.g 2017-10-17T12:00:00Z","required":true,"type":"string"},{"name":"address_id","in":"query","description":"Client address ID","required":false,"type":"string"}],"responses":{"200":{"description":"Appointment response","schema":{"$ref":"#/definitions/Appointment"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/cancel":{"post":{"summary":"Cancel an appointment","description":"Cancel an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/completed":{"post":{"summary":"Complete an appointment","description":"Complete an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/accept":{"post":{"summary":"Accept an appointment","description":"Accept an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/unaccept":{"post":{"summary":"Unaccept an appointment","description":"Unaccept an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/confirm":{"post":{"summary":"Confirm an appointment","description":"Confirm an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/unconfirm":{"post":{"summary":"Unconfirm an appointment","description":"Unconfirm an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/no_show":{"post":{"summary":"Mark an appointment as no-show","description":"Mark an existing appointment as no-show","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/showed_up":{"post":{"summary":"Mark an appointment as showed-up","description":"Mark an existing appointment as showed-up","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/client_checked_in":{"post":{"summary":"Mark an appointment as client-checked-in","description":"Mark an existing appointment as client-checked-in","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/appointments/{id}/cancel_waiting":{"post":{"summary":"Cancel waiting for an appointment","description":"Cancel waiting for an existing appointment","produces":["application/json"],"tags":["Appointment"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The appointments's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id / Default: true","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/reconciliations":{"get":{"summary":"Returns successful reconciliation transactions for a merchant (debits and credits).","description":"Reconciliation transactions for a merchant, including debits and credits, within a specified date range, or ever if no range is provided.","produces":["application/json"],"tags":["Reconciliations"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"start_date","in":"query","description":"The reconciliation `transfered_at` date filter start date, e.g., 2024-08-25.","required":false,"type":"date"},{"name":"end_date","in":"query","description":"The reconciliation `transfered_at` date filter end date, e.g., 2024-08-31.","required":false,"type":"date"},{"name":"page","in":"query","description":"Page requested Default: 1","required":false,"type":"integer"},{"name":"per_page","in":"query","description":"Number of records per page Default: 10. Maximum: 100","required":false,"type":"integer"}],"responses":{"200":{"description":"Reconciliations response","schema":{"properties":{"reconciliations":{"type":"array","items":{"$ref":"#/definitions/ReconciliationList"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/royalties":{"get":{"summary":"Returns successful royalties payment transactions for a merchant.","description":"Royalties payment transactions for a merchant, including, within a specified date range, or ever if no range is provided.","produces":["application/json"],"tags":["Royalties"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"start_date","in":"query","description":"The royalty payment transaction `transfered_at` filter start date, e.g., 2024-08-25.","required":false,"type":"date"},{"name":"end_date","in":"query","description":"The royalty payment transaction `transfered_at` filter end date, e.g., 2024-08-31.","required":false,"type":"date"},{"name":"page","in":"query","description":"Page requested Default: 1","required":false,"type":"integer"},{"name":"per_page","in":"query","description":"Number of records per page Default: 10. Maximum: 100","required":false,"type":"integer"}],"responses":{"200":{"description":"Royalties response","schema":{"properties":{"reconciliations":{"type":"array","items":{"$ref":"#/definitions/RoyaltyList"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/tickets":{"get":{"summary":"Query for tickets","description":"Returns all tickets based on query criteria","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"$ref":"#/parameters/location_mytime_id"},{"name":"start_date","in":"query","description":"The ticket creation (or closed at for closed tickets query) filter start date e.g.: 2020-10-22","required":false,"type":"date"},{"name":"end_date","in":"query","description":"The ticket creation (or closed at for closed tickets query) filter end date e.g.: 2020-10-22.","required":false,"type":"date"},{"name":"closed","in":"query","description":"Return closed tickets. If false, will return all tickets.","required":false,"default":true,"type":"boolean"},{"$ref":"#/parameters/client_mytime_id"},{"$ref":"#/parameters/page"},{"name":"per_page","in":"query","description":"Pagination - number of results per per_page. Default: 20. Maximum: 20","required":false,"default":20,"type":"integer"}],"responses":{"200":{"description":"Tickets response","schema":{"properties":{"tickets":{"type":"array","items":{"$ref":"#/definitions/TicketObject"}},"count":{"type":"integer"}},"type":"object"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/ticket/{id}":{"get":{"summary":"Get ticket details","description":"Get ticket details","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"id","in":"query","description":"id of the specific ticket","required":true,"type":"integer"}],"responses":{"200":{"description":"Ticket response","schema":{"type":"array","items":{"$ref":"#/definitions/TicketObject"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/tickets/item_types":{"get":{"summary":"Returns all item types available for this company.","description":"Ticket item types defined for a this company, like Membership Purchase, Gift Card, etc.","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"}],"responses":{"200":{"description":"Ticket Item Types response","schema":{"properties":{"item_types":{"type":"array","items":{"$ref":"#/definitions/TicketItemTypeList"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/tickets/payment_types":{"get":{"summary":"Returns all payment types available for a company.","description":"Ticket payment types defined for a given company, like Cash, check, etc","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"}],"responses":{"200":{"description":"Ticket Payment Types response","schema":{"properties":{"payment_item_types":{"type":"array","items":{"$ref":"#/definitions/TicketPaymentTypeList"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/tickets/refunds":{"get":{"summary":"Returns all refunds requested.","description":"Refunds for a given company, within the time frame specified and paginated.","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"start_date","in":"query","description":"The ticket creation filter start date e.g.: 2020-10-22","required":false,"type":"string"},{"name":"end_date","in":"query","description":"The ticket creation filter end date e.g.: 2020-10-22","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"The location's mytime id","required":false,"type":"integer"},{"name":"page","in":"query","description":"Page number to return, starting at 1","required":false,"type":"integer"},{"name":"per_page","in":"query","description":"row number to count as one page. Default: 20","required":false,"type":"integer"}],"responses":{"200":{"description":"Refund list response","schema":{"properties":{"refunds":{"type":"array","items":{"$ref":"#/definitions/TicketObject"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/tickets/journals":{"get":{"summary":"Returns all journals requested.","description":"Journals for a given company, within the time frame specified and paginated.","produces":["application/json"],"tags":["Tickets"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"start_date","in":"query","description":"The ticket creation filter start date e.g.: 2020-10-22","required":false,"type":"string"},{"name":"end_date","in":"query","description":"The ticket creation filter end date e.g.: 2020-10-22","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"The location's mytime id","required":false,"type":"integer"},{"name":"page","in":"query","description":"Page number to return, starting at 1","required":false,"type":"integer"},{"name":"per_page","in":"query","description":"row number to count as one page. Default: 20","required":false,"type":"integer"},{"name":"is_completed","in":"query","description":"Set this value to `true` if the journal query for the day has been completed. Default: `false`","required":false,"type":"string"}],"responses":{"200":{"description":"Journals list response","schema":{"properties":{"journals":{"type":"array","items":{"$ref":"#/definitions/TicketObject"}}}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/services":{"get":{"summary":"Get all services","description":"Returns all service categories for the company","produces":["application/json"],"tags":["Service"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"}],"responses":{"200":{"description":"Services response","schema":{"type":"array","items":{"$ref":"#/definitions/Service"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/deals":{"get":{"summary":"Returns all deals from a specific location.","description":"A deal is a service that a company can provide. Each deal can have multiple variations (i.e. service variations). E.g. Company 'ABC Haircut' can have a deal 'Woman Haircut' and two variations - 'Woman Haircut for Long Hair' and 'Woman Haircut for Short Hair' Note: Prices are set per variation not per deal.","produces":["application/json"],"tags":["Deal"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"location_partner_id","in":"query","description":"Filter deals by location using the partner (external) id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"Filter deals by location using the mytime id","required":false,"type":"string"}],"responses":{"200":{"description":"Deals response","schema":{"type":"array","items":{"$ref":"#/definitions/Deal"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/variations":{"get":{"summary":"Returns all variations and its respective pricings for a specific location.","description":"Note: Variations are defined by location through pricing. Deleted variations do not belong to any location","produces":["application/json"],"tags":["Variations"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"},{"name":"location_partner_id","in":"query","description":"Filter variations by location using the partner (external) id","required":false,"type":"string"},{"name":"location_mytime_id","in":"query","description":"Filter variations by location using the mytime id","required":false,"type":"string"},{"name":"with_deleted","in":"query","description":"Return deleted variations.","required":false,"type":"boolean"}],"responses":{"200":{"description":"variations response","schema":{"type":"array","items":{"$ref":"#/definitions/Variations"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/locations":{"get":{"summary":"Get all locations","description":"Returns all locations from a specific location","produces":["application/json"],"tags":["Location"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"}],"responses":{"200":{"description":"Locations response","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Location response","schema":{"$ref":"#/definitions/LocationResponse"}}},"tags":["Location"],"summary":"Creates an Location","description":"","produces":["application/json"],"parameters":[{"name":"company_id","type":"string","required":false,"in":"query"},{"name":"street_address","type":"string","required":true,"in":"query"},{"name":"street_address_2","type":"string","required":false,"in":"query"},{"name":"city","type":"string","required":true,"in":"query"},{"name":"lat","type":"string","required":false,"in":"query"},{"name":"lng","type":"string","required":false,"in":"query"},{"name":"time_zone","type":"string","required":false,"in":"query"},{"name":"state","type":"string","required":true,"in":"query"},{"name":"zip_code","type":"string","required":true,"in":"query"},{"name":"phone_number","type":"string","required":false,"in":"query"},{"name":"mobile_number","type":"string","required":false,"in":"query"},{"name":"partner_id","type":"string","required":false,"in":"query"},{"name":"mytime_id","type":"string","required":false,"in":"query"},{"name":"country","type":"string","required":false,"in":"query"},{"name":"nickname","type":"string","required":false,"in":"query"}]}},"/locations/{id}":{"get":{"summary":"Get location details","description":"Get location details","produces":["application/json"],"tags":["Location"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"Id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"}],"responses":{"200":{"description":"Locations response","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/class_sessions":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ClassSession response","schema":{"type":"array","items":{"$ref":"#/definitions/ClassSessionResponse"}}}},"parameters":[{"$ref":"#/parameters/location_partner_id"},{"$ref":"#/parameters/location_mytime_id"},{"$ref":"#/parameters/Subdomain"},{"name":"start_date","in":"query","description":"The start_date for the class sessions. Default: Yesterday. e.g.: 2017-10-22","required":false,"type":"string"},{"name":"end_date","in":"query","description":"The end_date for the class sessions. Default: Today. e.g.: 2017-10-22","required":false,"type":"string"},{"name":"include_events","in":"query","description":"Include the events for the class sessions. true/false","required":false,"type":"boolean"}],"summary":"Get all class sessions","description":"Returns all class sessions from a specific location","produces":["application/json"],"tags":["Class Sessions"]},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ClassSession response","schema":{"$ref":"#/definitions/ClassSessionResponse"}}},"summary":"Create a class session","description":"Returns the newly created class sessions","produces":["application/json"],"tags":["Class Sessions"],"parameters":[{"name":"class_session","in":"body","description":"Class Session  object","required":true,"schema":{"$ref":"#/definitions/SessionRequest"}},{"$ref":"#/parameters/location_id"},{"$ref":"#/parameters/location_id_is_partner"},{"name":"segments","in":"query","description":"returns segments","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"external_location","in":"query","description":"returns external_location","type":"boolean"},{"name":"employee","in":"query","description":"returns employee","type":"boolean"},{"name":"resource","in":"query","description":"returns resource","type":"boolean"},{"name":"class_name","in":"query","description":"returns class_name","type":"boolean"},{"name":"class","in":"query","description":"returns class","type":"boolean"},{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_setting","in":"query","description":"returns class_setting","type":"boolean"},{"name":"session_enrollments","in":"query","description":"returns session_enrollments","type":"boolean"},{"name":"session_events","in":"query","description":"returns session_events","type":"boolean"},{"name":"client","in":"query","description":"returns client","type":"boolean"},{"name":"child","in":"query","description":"returns child","type":"boolean"},{"name":"custom_field_values","in":"query","description":"returns custom_field_values","type":"boolean"},{"name":"display_color_ids","in":"query","description":"returns display_color_ids","type":"boolean"},{"name":"notes","in":"query","description":"returns notes","type":"boolean"},{"name":"ticket_summary","in":"query","description":"returns ticket_summary","type":"boolean"},{"name":"recurring_session","in":"query","description":"returns recurring_session","type":"boolean"},{"name":"session_attendees","in":"query","description":"returns session_attendees","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"num_enrolled_per_attendee","in":"query","description":"returns num_enrolled_per_attendee","type":"boolean"},{"name":"num_unpaid","in":"query","description":"returns num_unpaid","type":"boolean"},{"name":"total_capacity","in":"query","description":"returns total_capacity","type":"boolean"}]}},"/class_sessions/{id}":{"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ClassSession response","schema":{"$ref":"#/definitions/ClassSessionResponse"}}},"summary":"Update a class session","description":"Returns the newly updated class sessions","produces":["application/json"],"tags":["Class Sessions"],"parameters":[{"$ref":"#/parameters/id"},{"name":"class_session","in":"body","description":"Class Session  object","required":true,"schema":{"$ref":"#/definitions/SessionRequest"}},{"$ref":"#/parameters/location_id"},{"$ref":"#/parameters/location_id_is_partner"},{"name":"segments","in":"query","description":"returns segments","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"external_location","in":"query","description":"returns external_location","type":"boolean"},{"name":"employee","in":"query","description":"returns employee","type":"boolean"},{"name":"resource","in":"query","description":"returns resource","type":"boolean"},{"name":"class_name","in":"query","description":"returns class_name","type":"boolean"},{"name":"class","in":"query","description":"returns class","type":"boolean"},{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_setting","in":"query","description":"returns class_setting","type":"boolean"},{"name":"session_enrollments","in":"query","description":"returns session_enrollments","type":"boolean"},{"name":"session_events","in":"query","description":"returns session_events","type":"boolean"},{"name":"client","in":"query","description":"returns client","type":"boolean"},{"name":"child","in":"query","description":"returns child","type":"boolean"},{"name":"custom_field_values","in":"query","description":"returns custom_field_values","type":"boolean"},{"name":"display_color_ids","in":"query","description":"returns display_color_ids","type":"boolean"},{"name":"notes","in":"query","description":"returns notes","type":"boolean"},{"name":"ticket_summary","in":"query","description":"returns ticket_summary","type":"boolean"},{"name":"recurring_session","in":"query","description":"returns recurring_session","type":"boolean"},{"name":"session_attendees","in":"query","description":"returns session_attendees","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"num_enrolled_per_attendee","in":"query","description":"returns num_enrolled_per_attendee","type":"boolean"},{"name":"num_unpaid","in":"query","description":"returns num_unpaid","type":"boolean"},{"name":"total_capacity","in":"query","description":"returns total_capacity","type":"boolean"}]},"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ClassSession response","schema":{"$ref":"#/definitions/ClassSessionResponse"}}},"summary":"Get a class session","description":"Returns the class sessions","produces":["application/json"],"tags":["Class Sessions"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/id"},{"$ref":"#/parameters/location_id"},{"$ref":"#/parameters/id_is_partner"},{"$ref":"#/parameters/location_mytime_id"}]}},"/class_sessions/{id}/cancel":{"delete":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/ClassSessionResponse"}}},"summary":"Cancel a class session","description":"Cancel an existing class sessions","produces":["application/json"],"tags":["Class Sessions"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/id_is_partner"},{"$ref":"#/parameters/id"}]}},"/classes":{"get":{"tags":["Classes"],"summary":"Returns all classes","description":"","produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_settings","in":"query","description":"returns class_settings","type":"boolean"},{"name":"class_setting_attendees","in":"query","description":"returns class_setting_attendees","type":"boolean"},{"name":"segment_templates","in":"query","description":"returns segment_templates","type":"boolean"},{"name":"class_setting_locations","in":"query","description":"returns class_setting_locations","type":"boolean"},{"name":"class_setting_location_groups","in":"query","description":"returns class_setting_location_groups","type":"boolean"},{"name":"class_setting_location_ids","in":"query","description":"returns class_setting_location_ids","type":"boolean"},{"name":"class_setting_location_group_ids","in":"query","description":"returns class_setting_location_group_ids","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"location_group","in":"query","description":"returns location_group","type":"boolean"},{"name":"requirement_employees","in":"query","description":"returns requirement_employees","type":"boolean"},{"name":"requirement_employee_ids","in":"query","description":"returns requirement_employee_ids","type":"boolean"},{"name":"requirement_resources","in":"query","description":"returns requirement_resources","type":"boolean"},{"name":"requirement_resource_ids","in":"query","description":"returns requirement_resource_ids","type":"boolean"},{"name":"requirements","in":"query","description":"returns requirements","type":"boolean"}],"responses":{"200":{"description":"Classes response","schema":{"type":"array","items":{"$ref":"#/definitions/ClassResponse"}}}}},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Class response","schema":{"$ref":"#/definitions/ClassResponse"}}},"tags":["Classes"],"summary":"Creates a class","description":"","produces":["application/json"],"parameters":[{"name":"class","in":"body","description":"Class name","required":true,"schema":{"$ref":"#/definitions/ClassRequest"}},{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_settings","in":"query","description":"returns class_settings","type":"boolean"},{"name":"class_setting_attendees","in":"query","description":"returns class_setting_attendees","type":"boolean"},{"name":"segment_templates","in":"query","description":"returns segment_templates","type":"boolean"},{"name":"class_setting_locations","in":"query","description":"returns class_setting_locations","type":"boolean"},{"name":"class_setting_location_groups","in":"query","description":"returns class_setting_location_groups","type":"boolean"},{"name":"class_setting_location_ids","in":"query","description":"returns class_setting_location_ids","type":"boolean"},{"name":"class_setting_location_group_ids","in":"query","description":"returns class_setting_location_group_ids","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"location_group","in":"query","description":"returns location_group","type":"boolean"},{"name":"requirement_employees","in":"query","description":"returns requirement_employees","type":"boolean"},{"name":"requirement_employee_ids","in":"query","description":"returns requirement_employee_ids","type":"boolean"},{"name":"requirement_resources","in":"query","description":"returns requirement_resources","type":"boolean"},{"name":"requirement_resource_ids","in":"query","description":"returns requirement_resource_ids","type":"boolean"},{"name":"requirements","in":"query","description":"returns requirements","type":"boolean"}]}},"/classes/{id}":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Class response","schema":{"$ref":"#/definitions/ClassResponse"}}},"tags":["Classes"],"summary":"Returns a class by id","description":"","parameters":[{"$ref":"#/parameters/id"},{"$ref":"#/parameters/id_is_partner"},{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_settings","in":"query","description":"returns class_settings","type":"boolean"},{"name":"class_setting_attendees","in":"query","description":"returns class_setting_attendees","type":"boolean"},{"name":"segment_templates","in":"query","description":"returns segment_templates","type":"boolean"},{"name":"class_setting_locations","in":"query","description":"returns class_setting_locations","type":"boolean"},{"name":"class_setting_location_groups","in":"query","description":"returns class_setting_location_groups","type":"boolean"},{"name":"class_setting_location_ids","in":"query","description":"returns class_setting_location_ids","type":"boolean"},{"name":"class_setting_location_group_ids","in":"query","description":"returns class_setting_location_group_ids","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"location_group","in":"query","description":"returns location_group","type":"boolean"},{"name":"requirement_employees","in":"query","description":"returns requirement_employees","type":"boolean"},{"name":"requirement_employee_ids","in":"query","description":"returns requirement_employee_ids","type":"boolean"},{"name":"requirement_resources","in":"query","description":"returns requirement_resources","type":"boolean"},{"name":"requirement_resource_ids","in":"query","description":"returns requirement_resource_ids","type":"boolean"},{"name":"requirements","in":"query","description":"returns requirements","type":"boolean"}],"produces":["application/json"]},"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Class response","schema":{"$ref":"#/definitions/ClassResponse"}}},"tags":["Classes"],"summary":"Updates a class","description":"","produces":["application/json"],"parameters":[{"name":"class","in":"body","description":"Class","required":true,"schema":{"$ref":"#/definitions/ClassRequest"}},{"$ref":"#/parameters/id_is_partner"},{"$ref":"#/parameters/id"},{"name":"category","in":"query","description":"returns category","type":"boolean"},{"name":"class_settings","in":"query","description":"returns class_settings","type":"boolean"},{"name":"class_setting_attendees","in":"query","description":"returns class_setting_attendees","type":"boolean"},{"name":"segment_templates","in":"query","description":"returns segment_templates","type":"boolean"},{"name":"class_setting_locations","in":"query","description":"returns class_setting_locations","type":"boolean"},{"name":"class_setting_location_groups","in":"query","description":"returns class_setting_location_groups","type":"boolean"},{"name":"class_setting_location_ids","in":"query","description":"returns class_setting_location_ids","type":"boolean"},{"name":"class_setting_location_group_ids","in":"query","description":"returns class_setting_location_group_ids","type":"boolean"},{"name":"attendee","in":"query","description":"returns attendee","type":"boolean"},{"name":"location","in":"query","description":"returns location","type":"boolean"},{"name":"location_group","in":"query","description":"returns location_group","type":"boolean"},{"name":"requirement_employees","in":"query","description":"returns requirement_employees","type":"boolean"},{"name":"requirement_employee_ids","in":"query","description":"returns requirement_employee_ids","type":"boolean"},{"name":"requirement_resources","in":"query","description":"returns requirement_resources","type":"boolean"},{"name":"requirement_resource_ids","in":"query","description":"returns requirement_resource_ids","type":"boolean"},{"name":"requirements","in":"query","description":"returns requirements","type":"boolean"}]},"delete":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Success response","schema":{"type":"object"}}},"tags":["Classes"],"summary":"Deletes a class and its class settings by id","description":"","parameters":[{"$ref":"#/parameters/id"},{"$ref":"#/parameters/id_is_partner"}],"produces":["application/json"]}},"/session_enrollments":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Session Enrollment response","schema":{"type":"array","items":{"$ref":"#/definitions/SessionEnrollmentResponse"}}}},"summary":"Get all session enrollments","description":"Returns all session enrollments from a specific location","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"class_session_partner_id","in":"query","description":"Filter session enrollments by class session using the partner (external) id","required":false,"type":"string"},{"name":"class_session_mytime_id","in":"query","description":"Filter session enrollments by class session using the mytime id","required":false,"type":"string"},{"name":"client_partner_id","in":"query","description":"Filter session enrollments by class session using the partner (external) id","required":false,"type":"string"},{"name":"client_mytime_id","in":"query","description":"Filter session enrollments by class session using the mytime id","required":false,"type":"string"}]},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"SessionEnrollment response","schema":{"$ref":"#/definitions/SessionEnrollmentResponse"}}},"summary":"Create a session enrollment","description":"Returns the newly created session enrollments","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"class_session_partner_id","in":"query","description":"Class session partner (external) id","type":"string"},{"name":"class_session_mytime_id","in":"query","description":"Class session mytime id","type":"string"},{"name":"client_partner_id","in":"query","description":"The client's id","type":"string"},{"name":"client_mytime_id","in":"query","description":"The client's mytime id","type":"integer"},{"name":"child_partner_id","in":"query","description":"The child's id","required":false,"type":"string"},{"name":"child_mytime_id","in":"query","description":"The child's mytime id","required":false,"type":"integer"},{"name":"amount","in":"query","description":"The amount paid by the client","required":false,"type":"integer"},{"name":"attendee_type_id","in":"query","description":"The attendee's mytime id","required":true,"type":"integer"}]}},"/session_enrollments/{id}":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"SessionEnrollment response","schema":{"type":"object","$ref":"#/definitions/SessionEnrollmentResponse"}}},"summary":"Get a session enrollments","description":"Returns the session enrollments","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The session enrollments's id","required":true,"type":"string"},{"$ref":"#/parameters/id_is_partner"}]},"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"SessionEnrollment response","schema":{"$ref":"#/definitions/SessionEnrollmentResponse"}}},"summary":"Update a session enrollments","description":"Returns the newly updated session enrollments","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The session enrollments's id","required":true,"type":"string"},{"$ref":"#/parameters/id_is_partner"},{"name":"amount","in":"query","description":"The amount paid by the client","required":false,"type":"integer"},{"name":"attendee_type_id","in":"query","description":"The attendee's mytime id","required":false,"type":"integer"}]}},"/session_enrollments/{id}/cancel":{"delete":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"204":{"description":"Deleted"}},"summary":"Cancel a session enrollments","description":"Cancel an existing session enrollments","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The session enrollments's id","required":true,"type":"string"},{"$ref":"#/parameters/id_is_partner"}]}},"/session_enrollments/{id}/confirm":{"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"204":{"description":"SessionEnrollment response","schema":{"type":"object","$ref":"#/definitions/SessionEnrollment"}}},"summary":"Confirm a session enrollment","description":"Confirm an existing session enrollment","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The session enrollments's id","required":true,"type":"string"},{"$ref":"#/parameters/id_is_partner"}]}},"/session_enrollments/{id}/unconfirm":{"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"SessionEnrollment response","schema":{"type":"object","$ref":"#/definitions/SessionEnrollmentResponse"}}},"summary":"Unconfirm a session enrollment","description":"Unconfirm an existing session enrollment","produces":["application/json"],"tags":["Session Enrollments"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The session enrollments's id","required":true,"type":"string"},{"$ref":"#/parameters/id_is_partner"}]}},"/resources":{"get":{"summary":"Returns all classes","tags":["Resources"],"description":"","produces":["application/json"],"parameters":[{"name":"resource_id","in":"query","description":"Resource id","type":"integer"},{"name":"location_mytime_ids","in":"query","description":"Location id","type":"integer"},{"name":"location_partner_ids","in":"query","description":"Location id","type":"integer"}],"responses":{"200":{"description":"Classes response","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceResponse"}}}}},"post":{"summary":"Create a resource","tags":["Resources"],"description":"","produces":["application/json"],"parameters":[{"name":"resource","in":"body","description":"Resource","required":true,"schema":{"$ref":"#/definitions/ResourceRequest"}}],"responses":{"200":{"description":"Resource response","schema":{"type":"object","$ref":"#/definitions/ResourceResponse"}}}}},"/resources/{id}":{"put":{"summary":"Update a resource","tags":["Resources"],"description":"","produces":["application/json"],"parameters":[{"$ref":"#/parameters/id"},{"name":"resource","in":"body","description":"Resource","required":true,"schema":{"$ref":"#/definitions/ResourceRequest"}}],"responses":{"200":{"description":"Resource response","schema":{"type":"object","$ref":"#/definitions/ResourceResponse"}}}},"delete":{"summary":"Deletes a resource","tags":["Resources"],"description":"","produces":["application/json"],"parameters":[{"$ref":"#/parameters/id"}],"responses":{"200":{"description":"Resource response","schema":{"type":"object","$ref":"#/definitions/ResourceResponse"}}}},"get":{"summary":"Shows a resource","tags":["Resources"],"description":"","produces":["application/json"],"parameters":[{"$ref":"#/parameters/id"}],"responses":{"200":{}}}},"/class_categories":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Categories response","schema":{"type":"array","items":{"$ref":"#/definitions/CategoryResponse"}}}},"tags":["Class Categories"],"summary":"Returns all class categories","description":"","produces":["application/json"]},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Category response","schema":{"$ref":"#/definitions/CategoryResponse"}}},"tags":["Class Categories"],"summary":"Creates a Class category","description":"","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"name of the Class Category","required":true,"type":"string"}]}},"/class_categories/{id}":{"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"Category response","schema":{"$ref":"#/definitions/CategoryResponse"}}},"tags":["Class Categories"],"summary":"Updates a Class Category","description":"","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"name of the Class Category","required":true,"type":"string"}]}},"/external_locations":{"get":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"External Location response","schema":{"type":"array","items":{"$ref":"#/definitions/ExternalLocationResponse"}}}},"summary":"Get all external locations","description":"Returns all external locations from a specific location","produces":["application/json"],"tags":["External Locations"],"parameters":[{"$ref":"#/parameters/Subdomain"}]},"post":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ExternalLocation response","schema":{"$ref":"#/definitions/ExternalLocationResponse"}}},"summary":"Create a external location","description":"Returns the newly created external locations","produces":["application/json"],"tags":["External Locations"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"company_id","type":"string","required":false,"in":"query"},{"name":"street_address","type":"string","required":true,"in":"query"},{"name":"street_address_2","type":"string","required":false,"in":"query"},{"name":"city","type":"string","required":true,"in":"query"},{"name":"state","type":"string","required":true,"in":"query"},{"name":"zip_code","type":"string","required":true,"in":"query"},{"name":"partner_id","type":"string","required":false,"in":"query"},{"name":"mytime_id","type":"string","required":false,"in":"query"},{"name":"country","type":"string","required":true,"in":"query"},{"name":"nickname","type":"string","required":false,"in":"query"}]}},"/external_locations/{id}":{"put":{"responses":{"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}},"200":{"description":"ExternalLocation response","schema":{"$ref":"#/definitions/ExternalLocationResponse"}}},"summary":"Update a external locations","description":"Returns the newly updated external locations","produces":["application/json"],"tags":["External Locations"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"},{"name":"id","in":"path","description":"The external location's id","required":true,"type":"string"},{"name":"company_id","type":"string","required":false,"in":"query"},{"name":"street_address","type":"string","required":true,"in":"query"},{"name":"street_address_2","type":"string","required":false,"in":"query"},{"name":"city","type":"string","required":true,"in":"query"},{"name":"state","type":"string","required":true,"in":"query"},{"name":"zip_code","type":"string","required":true,"in":"query"},{"name":"partner_id","type":"string","required":false,"in":"query"},{"name":"mytime_id","type":"string","required":false,"in":"query"},{"name":"country","type":"string","required":true,"in":"query"},{"name":"nickname","type":"string","required":false,"in":"query"}]},"delete":{"summary":"Delete external location","description":"Delete an external location","produces":["application/json"],"tags":["External Locations"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"The external location's id","required":true,"type":"string"},{"name":"id_is_partner","in":"query","description":"true - id is partner_id / false - id is mytime id","required":true,"type":"boolean"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/labels":{"get":{"summary":"Returns all labels for a given company","description":"\n        Labels are tags that can be attached to a particular client.","produces":["application/json"],"tags":["Labels"],"parameters":[{"$ref":"#/parameters/Subdomain"}],"responses":{"200":{"description":"Labels response","schema":{"type":"array","items":{"$ref":"#/definitions/Label"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/labels/{id}":{"delete":{"summary":"Delete label","description":"Delete an existing label","produces":["application/json"],"tags":["Labels"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"name":"id","in":"path","description":"Id","required":true,"type":"string"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/custom_fields":{"get":{"summary":"Show all custom fields for a company","description":"Returns all custom fields for a given company","produces":["application/json"],"tags":["CustomField"],"parameters":[{"$ref":"#/parameters/Subdomain"},{"$ref":"#/parameters/Partner"}],"responses":{"200":{"description":"Custom fields response","schema":{"type":"array","items":{"$ref":"#/definitions/CustomField"}}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}},"422":{"description":"Invalid parameters","schema":{"$ref":"#/definitions/ErrorModel"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"}},"504":{"description":"Gateway Timeout","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/loyalty_program_points":{"get":{"summary":"Show Loyalty Program Points for a client","description":"returns loyalty program
[...]
